<div class="index-container" data-ng-controller="oplogManageCtrl">
	
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				日志管理
			</h1>
		</div>
	</div>
	
	<!-- widget grid -->
	<section id="widget-grid" class="">
		<!-- row -->
		<div class="row">
			<!-- NEW WIDGET START -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
					<header>
						<h2 title="过滤条件：{{filterText}}">过滤条件：{{filterText}}</h2>
					</header>
	
					<!-- widget div-->
					<div>
						<!-- widget content -->
						<div class="widget-body">
							
							<!-- 过滤条件 -->
							<form class="common-form" data-ng-submit="pagedOplogList()">
								<div class="input-group">
									<label class="col-md-3 control-label">模糊搜索：</label>
									<div class="col-md-9">
										<input class="form-control" type="search" data-ng-model="condition.keywords" placeholder="日志详情">
										<div class="input-group-btn">
											<button class="btn btn-default btn-primary" type="submit" title="搜索">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="input-group">
									<label class="col-md-3 control-label">操作时间：</label>
									<div class="col-md-9" title="选择时间段">
										<input id="searchDateRangeId" class="form-control" type="text" placeholder="开始时间&nbsp;~&nbsp;结束时间" 
											 date-range-picker options="dateRangePickerOptions" data-ng-model="rangeDate" /> 
										<div class="input-group-btn">
											<button class="btn btn-default btn-primary" type="button" title="选择时间" data-ng-click="showSearchDateRange();">
												<i class="fa fa-calendar"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="input-group">
									<label class="col-md-3 control-label">日志类型：</label>
									<div class="col-md-9">
										<select class="form-control" ui-select2 data-ng-model="condition.opType" data-ng-change="pagedOplogList()">
											<option value="">全部</option>
											<option data-ng-repeat="item in opTypeList" value="{{item.value}}">{{item.value}}</option>
										</select>
									</div>
								</div>
							</form>
						
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>序号</th>
											<th>操作时间</th>
											<th>操作用户</th>
											<th>操作类型</th>
											<th>操作详情</th>
											<th>操作IP</th>
										</tr>
									</thead>
									<tbody data-ng-show="!isLoadingOplog">
										<tr data-ng-repeat="oplog in oplogList">
											<td>{{$index + 1}}</td>
											<td>{{oplog.opTime|formatDate}}</td>
											<td>{{oplog.userName|showBlankValue}}</td>
											<td>{{oplog.opType|showBlankValue}}</td>
											<td>{{oplog.opDetail|showBlankValue}}</td>
											<td>{{oplog.opIp|showBlankValue}}</td>
										</tr>
									</tbody>
								</table>
								
								<loading-panel data-ng-show="isLoadingOplog" font-size="18"></loading-panel>
								<nodata-panel data-ng-show="!isLoadingOplog && oplogList.length==0" font-size="18"></nodata-panel>
							</div>
							
							<common-pager class="common-pager" page-count="{{condition.pageCount}}" current-page="condition.pageNo" 
								total-rows="condition.totalCount" to-page-call-back="pagedOplogList(pageNo)"></common-pager>
							
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget div -->
				</div>
				<!-- end widget -->
			</article>
			<!-- WIDGET END -->
		</div>
		<!-- end row -->
	</section>
	<!-- end widget grid -->
</div>