@CHARSET "UTF-8";
/*个人信息面板*/
.person-lists {
	list-style: none;
    margin: 0px;
    height: 30px;
}
.person-lists li{
	float: left;
    margin-right: 15px;
    margin-top: 8px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}
.person-lists li:HOVER{
	background-color: #e7e7e7;
}
.person-lists li.active{
	background-color: #e7e7e7;
}
.person-table {
	width: 100%;
}
.person-table td {
	padding: 5px;
	vertical-align: middle;
	color: #555;
}
.person-table input {
	margin: 0px;
}
.person-right-label {
	width: 40%;
	text-align: right;
}
.person-right-label.person-right-remark {
	vertical-align: top;
}
.person-input {
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}
.person-input input {
	height: auto;
	width: 75%;
	padding: 3px 6px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.person-input textarea {
	width: 75%;
}
.person-remark-none {
	color: #ccc;
}


