<!-- 轮播 start -->
<div id="banner_tabs" class="flexslider">
	<ul class="slides">
		<li data-ng-repeat="slide in slideList">
			<a title="">
				<img alt="" style="background: url({{slide}}) no-repeat center;">
			</a>
		</li>
	</ul>
	<ul class="flex-direction-nav">
		<li><a class="flex-prev" href="javascript:void(0);">Previous</a></li>
		<li><a class="flex-next" href="javascript:void(0);">Next</a></li>
	</ul>
	<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
		<li data-ng-repeat="slide in slideList"><a>{{$index + 1}}</a></li>
	</ol>
</div>
<!-- 轮播 end -->
