@CHARSET "UTF-8";
h1, h2, h3 {
    font-weight: normal;
}
a {
	text-decoration: none;
}
a:hover,a:active,a:visited,a:link {
	text-decoration: none;
}
ul li {
	list-style: none;
}
.my-line {
	display: none;
}
.my-pointer {
	cursor: pointer;
}
.text-right {
	text-align: right;
}
.common-padding {
	margin: 0 auto;
    width: 1200px;
    padding: 10px 10px;
}

/*模态框样式start*/
.client-model-header {
	color: #fff;
	background-color: #ff0000;
}
.client-model-header button {
	color: #fff;
	opacity: 0.8;
	outline: none;
}
/*模态框样式end*/


/*首页和搜索页面 start*/
.index-commodel {
	padding: 10px 20px;
}

.index-condition {
	display: none;
	background-color: #fff;
	padding-top: 0px;
}
.icondition-header {
	padding: 10px;
    border-bottom: 1px solid #efefef;
}
.icondition-header h4 {
	font-size: 16px;
    margin: 0px;
}
.icondition-all {
	cursor: pointer;
}
.icondition-all:hover {
	color: #ff0000;
}
.icondition-content {
	
}
.icondition-content table {
	width: 100%;
}
.icondition-content table td {
	border: 1px solid #ddd;
}
.icondition-content .icondition-td1 {
	width: 18%;
    padding: 14px;
    padding-left: 20px;
    vertical-align: top;
    background-color: #f7f5f6;
}
.icondition-content .icondition-td2 {
	padding: 10px 20px;
    height: 46px;
	overflow: hidden;
}
.icondition-content .icondition-more {
	height: auto;
}
.icondition-content .icondition-td2>span {
	float: right;
    margin: 4px;
    color: #888;
    cursor: pointer;
}
.icondition-content .icondition-td2>span:hover {
    color: #ff0000;
}
.icondition-content .icondition-td2>a {
	display: inline-block;
	margin: 5px;
    margin-top: 0px;
	margin-bottom: 10px;
	color: #555;
	padding: 4px 12px;
	border-radius: 2px;
}
.icondition-content .icondition-td2>a:hover,.icondition-content .icondition-td2>a.active {
	color: #fff;
	background-color: #ff0000;
}

.index-recommend {
	display: none;
	background-color: #ebebeb;
}

.index-recommend .ishop-header {
	text-align: center;
	padding: 10px;
}
.index-recommend .ishop-header h2 {
	margin: 0px;
	font-size: 18px;
	color: #ff0000;
}

.index-shop {
	display: none!important;
	background-color: #fff;
}
.index-shop-show {
	display: block!important;
}

.index-shop .ishop-header {
	padding: 10px 10px;
}
.index-shop .ishop-header h2 {
	display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 7px 30px;
    font-size: 16px;
    color: #fff;
    background: #ff0000;
}
.index-shop .ishop-header a {
	float: right;
	line-height: 31px;
	font-size: 16px;
    color: #a0a0a0;
}

.ishop-content {
	text-align: left;
	margin: 0 auto;
	width: 1200px;
}
.ishop-content>ul {
	
}
.ishop-content>ul>li {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	width: 180px;
	margin: 10px;
	background: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.ishop-img {
	width: 100%;
    height: 120px;
    border-bottom: 1px solid #ddd;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.ishop-con {
	position: relative;
	padding: 5px 10px;
	text-align: left;
	background: url(../img/s_li.png) no-repeat right bottom;
}
.ishop-con h3 {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-top: 5px;
    margin-bottom: 5px;
	width: 88%;
	font-weight: bolder;
	font-size: 16px;
	color: #333;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ishop-con p {
    margin-bottom: 2px;
    font-size: 12px;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ishop-con p label {
	float: right;
    position: relative;
    margin: 0px;
    font-family: "微软雅黑";
    color: #aaa;
}
.ishop-con p label i {
	color: #ff0000;
}
.ishop-con-h {
	position: relative;
}
.ishop-collected {
	position: absolute;
    right: 0px;
    line-height: 27px;
    color: #ff8b00;
    font-size: 14px;
}
.ishop-content>ul>li:hover {
	transform:translateY(-6px);
	-webkit-transform:translateY(-6px);
	-moz-transform:translateY(-6px);
	box-shadow:0 26px 40px -24px rgba(0,36,100,.3);
	-webkit-box-shadow:0 26px 40px -24px rgba(0,36,100,.3);
	-moz-box-shadow:0 26px 40px -24px rgba(0,36,100,.3);
}
.ishop-content>ul>li:hover .ishop-con h3 {
	color: #ff0000;
}

@media screen and (max-width: 1250px) {
	.ishop-content {
		width: 600px;
	}
	.common-padding {
		width: 600px;
	}
}

@media screen and (max-width: 760px) {
	.ishop-content {
		width: auto;
	}
	.common-padding {
		width: auto;
	}
	.my-line {
		display: block;
		margin-top: 42px;
	}
	.icondition-content {
		display: none;
	}
}

@media screen and (max-width: 490px) {
	.index-commodel {
		padding: 5px;
	}
	.ishop-content>ul>li {
		width: 44.2%;
	}
	.ishop-img {
		height: 100px;
	}
}
/*首页和搜索页面 end*/

/*商品搜索页面 start*/
.shop-product {
	display: none;
	background-color: #fff;
}

.shoppro-content {
	text-align: left;
	margin: 0 auto;
	width: 1210px;
}
.shoppro-content>ul {
	
}
.shoppro-content>ul>li {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	width: 222px;
	margin: 10px;
	background: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.shoppro-img {
	width: 100%;
    height: 220px;
    border-bottom: 1px solid #ddd;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.shoppro-con {
	position: relative;
	padding: 5px 10px;
	text-align: left;
}
.shoppro-con>h3 {
	display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 5px;
    margin-bottom: 6px;
    width: 100%;
    font-weight: bolder;
    font-size: 18px;
    color: #ff0000;
}
.shoppro-con>h3 label {
	float: right;
    position: relative;
    margin: 0px;
    font-family: "微软雅黑";
    color: #aaa;
    font-size: 12px;
    font-weight: normal;
}
.shoppro-name {
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.shoppro-con a {
	font-size: 12px;
	color: #333;
}
.shoppro-con a:hover {
	color: #ff0000;
	text-decoration: underline!important;
}
.shoppro-con p {
	width: 75%;
    margin: 5px 0px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.shoppro-bot {
	position: relative;
}
.shoppro-collected {
	position: absolute;
    top: 0px;
    right: 0px;
    font-size: 12px;
    color: #ff8b00;
}
.shoppro-content>ul>li:hover {
	border: 1px solid #ff0000;
}

.cart-count {
	font-family: "微软雅黑";
    height: 20px;
}
.cart-count label {
	vertical-align: top;
	margin: 0px;
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-size: 12px;
    border-radius: 20px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}
.cart-count label.cart-plus {
	color: #333;
    border: 1px solid #fbb925;
    background-color: #fbb925;
}
.cart-count label.cart-minus {
	color: #aaa;
    border: 1px solid #aaa;
}
.cart-count span {
	vertical-align: top;
	margin: 0px 4px;
	font-size: 14px;
    font-weight: normal;
    color: #333;
}
.cart-count input {
	vertical-align: top;
	width: 50px;
    padding: 0px 5px;
    margin: 0px 6px;
}
.little-count {
	font-size: 9px;
    position: absolute;
    top: -7px;
    right: -12px;
    text-decoration: none;
    font-style: normal;
    background: #ED1C24;
    color: #fff;
    width: 17px;
    border-radius: 50%;
    height: 17px;
    line-height: 17px;
    font-weight: 700;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border: 1px solid rgba(255,255,255,.1);
}

@media screen and (max-width: 1250px) {
	.shoppro-content {
		width: 730px;
	}
}

@media screen and (max-width: 760px) {
	.shoppro-content {
		width: auto;
	}
	
	.shoppro-content>ul>li {
	    position: relative;
		width: 100%;
		margin: 0px;
    		margin-bottom: 8px;
		background: #fff;
		padding-bottom: 5px;
	    border: none;
	    border-bottom: 1px solid #efefef;
		cursor: pointer;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
	.shoppro-img {
		vertical-align: top;
		display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
		*display: inline; /* IE6、7 block 元素 */  
		*zoom: 1;
		width: 125px;
	    height: 125px;
	    border-bottom: none;
	    border-radius: 6px;
	    background-color: #fbfbfb;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	.shoppro-con {
		position: absolute;
	    top: 0px;
	    bottom: 0px;
	    left: 130px;
	    right: 0px;
	    padding: 5px 10px;
	    text-align: left;
	}
	.shoppro-con>h3 {
		position: absolute;
	    bottom: 6px;
	    width: 94%;
	    font-weight: bolder;
	    font-size: 18px;
	    color: #ff0000;
	}
	.shoppro-con>h3 label {
		float: right;
	    position: relative;
	    margin: 0px;
	    font-family: "微软雅黑";
	    color: #aaa;
	    font-size: 12px;
	    font-weight: normal;
	}
	.shoppro-con a {
		font-size: 14px;
		color: #333;
	}
	.shoppro-con a:hover {
		color: #ff0000;
		text-decoration: underline!important;
	}
	.shoppro-con p {
		width: 100%;
	    margin: 5px 0px;
	    font-size: 12px;
	    color: #999;
	    overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	.shoppro-collected {
		right: auto;
    		top: auto;
	}
	.shoppro-content>ul>li:hover {
		border: none;
		border-bottom: 1px solid #efefef;
	}
	
	.shoppro-count {
		position: absolute;
    		bottom: 37px;
		width: 95%;
	}
}
/*商品搜索页面 end*/

/*店铺首页 start*/
.shop-only-phone {
	display: none;
}
.shop-index-page {
	
}
.shop-commodel {
	padding: 10px 20px;
}

.shop-condition {
	background-color: #fff;
	padding-top: 0px;
}
.scondition-header {
	padding: 10px;
    border-bottom: 1px solid #efefef;
}
.scondition-header h4 {
	font-size: 16px;
    margin: 0px;
}
.scondition-all {
	cursor: pointer;
}
.scondition-all:hover {
	color: #ff0000;
}
.scondition-content {
	
}
.scondition-content table {
	width: 100%;
}
.scondition-content table td {
	border: 1px solid #ddd;
}
.scondition-content .scondition-td1 {
	width: 18%;
    padding: 14px;
    padding-left: 20px;
    vertical-align: top;
    background-color: #f7f5f6;
}
.scondition-content .scondition-td2 {
	padding: 10px 20px;
    height: 46px;
	overflow: hidden;
}
.scondition-content .scondition-more {
	height: auto;
}
.scondition-content .scondition-td2>span {
	float: right;
    margin: 4px;
    color: #888;
    cursor: pointer;
}
.scondition-content .scondition-td2>span:hover {
    color: #ff0000;
}
.scondition-content .scondition-td2>a {
	display: inline-block;
	margin: 5px;
    margin-top: 0px;
	margin-bottom: 10px;
	color: #555;
	padding: 4px 12px;
	border-radius: 2px;
}
.scondition-content .scondition-td2>a:hover,.scondition-content .scondition-td2>a.active {
	color: #fff;
	background-color: #ff0000;
}

.sphone-type {
	position: absolute;
    top: 40px;
    left: 0px;
    bottom: 0px;
    width: 20%;
    overflow: auto;
    background-color: #f8f8f8;
}
.sphone-type ul {
	margin: 0px;
}
.sphone-type ul li {
	padding: 10px;
	padding-left: 15px;
    font-size: 13px;
    color: #666;
    cursor: pointer;
}
.sphone-type ul li:hover, .sphone-type ul li.active {
	font-weight: bolder;
	color: #333;
	background-color: #fff;
}

@media screen and (max-width: 760px) {
	.shop-index-page {
		position: absolute;
		top: 186px;
		bottom: 60px;
		left: 0px;
		right: 0px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	.shop-index-page-search,.shop-index-page-scroll {
		top: 44px;
		z-index: 51;
	}
	
	.shop-only-pc {
		display: none;
	}
	.shop-only-phone {
		display: block;
	}
	
	.sphone-product {
		position: absolute;
		top: 40px;
	    bottom: 0px;
	    right: 0px;
		left: 20%;
		padding: 10px;
		overflow: auto;
	}
}
/*店铺首页 end*/


/*店铺评价 start*/
.se-content {
	margin: 0 auto;
	width: 90%;
}
.se-filter {
	margin-top: 20px;
    margin-bottom: 20px;
}
.se-mark {
	width: 100%;
    margin: 0px;
    padding: 12px 20px;
    border: 1px solid #ddd;
}
.se-mark-real {
	text-align: center;
	border-right: 1px solid #eee;
}
.se-mark-real p {
	margin-bottom: 5px;
}
.se-mark-real h4 {
	margin: 0px;
    font-size: 30px;
    color: #ff5400;
}
.se-mark-filter {
	padding-top: 15px;
	padding-left: 20px;
}
.se-mark-filter a {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	color: #333;
    font-size: 16px;
    margin: 10px;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 2px;
}
.se-mark-filter a:hover, .se-mark-filter a.active {
	color: #fff;
	background-color: #ff5400;
}
.se-radio-filter {
	width: 100%;
    margin: 0px;
    padding: 8px 20px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #efefef;
}
.se-radio-filter>label {
	margin-top: 0px;
	margin-right: 15px;
	font-size: 14px;
}
.se-evaluate {
	
}
.se-evaluate>ul {
	margin-bottom: 20px;
}
.se-evaluate>ul>li {
    padding: 10px;
    margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.se-evaluate>ul>li>.row {
	margin: 0px;
}

.evalimg-module {
	
}
.imgbox-list {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	overflow: hidden;
	width: 150px;
	height: 150px;
	margin: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 4px 0px #eee;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.imgbox-list img {
	width: 100%;
	height: 100%;
	background-color: #efefef;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.imgbox-list:hover {
	opacity: 0.7;
}
.eval-delete {
	font-size: 12px;
    margin-left: 8px;
}

@media screen and (max-width: 760px) {
	.se-content {
		width: auto;
	    position: absolute;
	    top: 40px;
	    bottom: 10px;
	    left: 10px;
	    right: 10px;
	    overflow: auto;
	}
	.se-filter {
		margin-top: 10px;
	    margin-bottom: 10px;
	}
	.se-mark {
		width: 100%;
	    margin: 0px;
	    padding: 10px 0px;
	    border: 1px solid #ddd;
	}
	.se-mark-real p {
		margin-bottom: 5px;
	}
	.se-mark-real h4 {
		margin: 0px;
	    font-size: 30px;
	    color: #ff5400;
	}
	.se-mark-filter {
	    padding: 0px;
		padding-top: 4px;
		padding-left: 10px;
		padding-right: 22px;
	}
	.se-mark-filter a {
		color: #333;
	    font-size: 13px;
	    margin: 0px;
	    margin-right: 10px;
	    margin-bottom: 6px;
	    padding: 2px 6px;
	}
	.se-evaluate>ul>li {
		padding: 5px;
	}
	
	.imgbox-list {
		width: 75px;
	    height: 75px;
	    margin: 3px;
	}
}
/*店铺评价 end*/


/*店铺商家信息 start*/
.sa-content {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 90%;
}

.sa-basic {
	padding-top: 10px;
}
.sa-basic>h4 {
	padding: 8px 15px;
	border-bottom: 1px solid #eee;
}
.sa-basic-container {
	background-color: #fbfbfb;
    border: 1px solid #eee;
    margin: 0px 15px;
    padding: 0px 20px;
}
.sa-basic-row {
	position: relative;
	font-size: 14px;
	padding: 16px 0px;
	border-bottom: 1px solid #eee;
}
.sa-basic-td {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	overflow: hidden;
}
.sa-basic-row .sa-basic-td:first-of-type {
	width: 100px;
}
.sa-basic-row .sa-basic-td:last-of-type {
	max-width: 85%!important;
}
.sa-basic-map {
	width: 100%;
	height: 400px;
}

@media screen and (max-width: 760px) {
	.sa-content {
		width: auto;
		position: absolute;
	    top: 40px;
	    bottom: 10px;
	    right: 10px;
	    left: 10px;
	    overflow: auto;
	    width: auto;
	}
	.sa-content * {
		max-width: 100%!important;
	}
	
	.sa-basic-row {
		font-size: 13px;
		padding: 10px 0px;
	}
	.sa-basic-row .sa-basic-td:first-of-type {
		width: 60px;
	}
	.sa-basic-row .sa-basic-td:last-of-type {
		max-width: 76%!important;
	}
	
}
/*店铺商家信息 end*/


/*商品详情页面 start*/
.pindex-container {
	display: none;
	width: 1050px;
    margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 30px;
}

.pindex-basic {
	
}
.pindex-left {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	width: 42%;
	overflow: hidden;
}
.pindex-imgbig {
	width: 420px;
    height: 420px;
    border: 1px solid #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.pindex-imgs {
	margin: 14px;
    margin-right: 20px;
}
.pindex-imgs>ul {
	margin: 0px;
}
.pindex-imgs>ul>li {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	width: 60px;
    height: 60px;
    border: 2px solid #fff;
    margin-right: 12px;
    cursor: pointer;
}
.pindex-imgs>ul>li:hover,.pindex-imgs>ul>li.active {
	border: 2px solid #F40;
}
.pindex-imgs>ul>li>img {
	width: 100%;
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.pindex-share {
	padding: 5px;
	padding-left: 15px;
}
.pindex-share>a {
	color: #6C6C6C;
    margin-right: 18px;
}
.pindex-share>a>i {
	color: #ff8b00;
}
.pindex-share>a:hover,.pindex-share>a.active {
	color: #ff8b00;
}
.pindex-right {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	overflow: hidden;
	width: 56%;
}
.pindex-right>h4 {
	font-size: 18px;
    line-height: 22px;
    color: #3C3C3C;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pindex-right>p {
	padding: 6px 10px;
    font-size: 13px;
    color: #9A9A9A;
    background-color: #f5eed6;
    border-radius: 4px;
}
.pindex-row {
	padding: 5px 10px;
	margin: 15px 0px;
}
.price-row {
	background-color: #FFF2E8;
}
.pindex-td {
	vertical-align: middle;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
}
.pindex-row>.pindex-td:first-of-type {
	min-width: 60px;
    font-size: 14px;
    color: #777;
}
.pindex-row>.pindex-td:last-of-type {
	margin-left: 10px;
}
.pindex-price {
	font-size: 24px;
    font-weight: bolder;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    color: #F40;
}
.pindex-row>a {
	
}
.pindex-row>button {
	width: 180px;
    color: #FFF;
    background: #F40;
    font-family: "Hiragino Sans GB","microsoft yahei",sans-serif;
    font-size: 16px;
    line-height: 38px;
    border: none;
    border-radius: 2px;
    margin-right: 20px;
    outline: none;
}
.pindex-row>button:hover {
	opacity: 0.92;
}
.pro-down {
	background: #aaa!important;
    cursor: not-allowed;
    opacity: 1!important;
}

.pindex-description {
	margin-top: 15px;
}
.pindex-description h4 {
	margin-top: 0px;
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 1050px) {
	.pindex-container {
		width: 760px;
	}
	
	.pindex-imgbig {
		width: 310px;
	    height: 310px;
	}
	.pindex-imgs>ul>li {
		width: 48px;
	    height: 48px;
	    margin-right: 8px;
	}
	
	.pindex-right>h4 {
		font-size: 16px;
	    line-height: 20px;
	}
	.pindex-right>p {
		padding: 5px 8px;
	    font-size: 12px;
	}
	.pindex-row {
    		margin: 8px 0px;
	}
}

@media screen and (max-width: 760px) {
	.pindex-container {
		width: 100%;
		margin-top: 40px;
    		margin-bottom: 15px;
    		padding: 0px 8px;
	}
	
	.pindex-basic {
		
	}
	
	.pindex-phone-imgs {
		
	}
	.pindex-phone-imgs>ul {
		
	}
	.pindex-phone-imgs>ul>li {
		display: none;
		width: 100%;
		height: 260px;
	}
	.pindex-phone-imgs>ul>li.active {
		display: block;
	}
	.pindex-phone-imgs>ul>li>img {
		width: 100%;
		height: 100%;
		background-position: center;
	    background-repeat: no-repeat;
	    background-size: 100%;
	    border-radius: 15px;
    		box-shadow: 1px 1px 5px 0px #aaa;
	}
	.pindex-phone-info {
		margin-top: 15px;
	}
	.pindex-phone-info>h4 {
		
	}
	.pindex-phone-info>small {
		color: #aaa;
	}
	.pindex-phone-info>small>span {
		margin-right: 10px;
	}
	.pindex-phone-info>p {
		font-size: 12px;
    		color: #777;
	}
	.pindex-price {
	    margin: 8px 0px;
	}
	.pindex-price button {
		vertical-align: top;
	    border: none;
	    border-radius: 20px;
	    padding: 3px 11px;
	    background-color: #fbb925;
	    color: #333;
	    font-size: 12px;
	    outline: none;
	}
	.pindex-price button.pro-down {
		
	}
	
	.pindex-description {
		margin-top: 10px;
	}
	.pindex-description * {
		max-width: 100%!important;
	}
}
/*商品详情页面 end*/
