@CHARSET "UTF-8";
.client-header {
	
}

.ch-key-type {
	display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    width: 56px;
    background-color: #ff0000;
}
.ch-key-type a {
	color: #fff!important;
}
.ch-key-type>ul {
	display: none;
	position: absolute;
	left: 0px;
	width: 57px;
	margin-top: 7px;
	border-top: 1px solid #fff;
	z-index: 1;
}
.ch-key-type>ul>li {
	background-color: #ff0000;
    padding-left: 10px;
    line-height: 30px;
}

.ch-pc {
	display: block;
	margin-top: 35px;
	height: 102px;
}
.ch-pc-left {
    height: 100%;
}
.ch-pc-left header {
	margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}
.ch-pc-left img {
	height: 52px;
}
.ch-pc-middle {
	height: 100%;
}
.ch-pc-search {
	margin: 0 auto;
    margin-top: 25px;
    max-width: 500px;
}
.ch-pc-search input {
	border: 1px solid #ff0000;
	outline: none!important;
}
.ch-pc-search button {
	color: #fff!important;
	background-color: #ff0000;
	border: 1px solid #ff0000;
	outline: none!important;
}
.ch-pc-search button:hover {
	background-color: #f95353;
	border: 1px solid #f95353;
}
.ch-pc-announce {
    margin: 0 auto;
    margin-top: 6px;
    padding: 8px 14px;
    max-width: 500px;
    background-color: #efefef;
}

.ch-phone {
	display: none;
	position: fixed;
    top: 0px;
    border-bottom: 1px solid #ddd;
    z-index: 50;
	background-color: #efefef;
    padding: 5px 10px;
}
.ch-phone-return {
	position: absolute;
	line-height: 32px;
	cursor: pointer;
}
.ch-phone-search {
	margin-left: 20px;
}
.ch-phone-search input {
	background-color: #fff;
	outline: none!important;
}
.ch-phone-search button {
	color: #ff0000!important;
    border: none!important;
    background-color: transparent;
    outline: none!important;
}

@media screen and (max-width: 760px) {
	.ch-pc {
		display: none;
	}
	
	.ch-phone {
		display: block;
	}
}
