@CHARSET "UTF-8";
body {
	height: auto;
}
h1, h2, h3 {
    font-weight: normal;
}
a {
	text-decoration: none!important;
}
ul li {
	list-style: none;
}

.place-module {
	width: 96%;
    margin: 0 auto;
    line-height: 50px;
    font-size: 14px;
	border-bottom: 1px solid #ececec;
}
.place-title1 {
	display: inline-block;
	vertical-align: top;
	color: #fd8d43;
	font-weight: bold;
}
.place-title1 i {
	margin-right: 10px;
}
.place-title2 {
	display: inline-block;
	vertical-align: top;
	color: #999;
	max-width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.place-title2 a {
	color: #999;
}
.place-title2 a:hover,.place-title2 a:active {
	color: #fd8d43;
}

.type-module {
	width: 100%;
	margin-top: 15px;
	padding-bottom: 20px;
}
.type-module ul {
	width: 100%;
	margin: 0px;
}
.type-module ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0 2% 20px 0;
	padding: 0px;
	width: 23%;
	box-shadow: 0 0 5px #dcdcdc;
	cursor: pointer;
	background-color: #fff;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.type-module .header {
	width: 100%;
	height: 160px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
    background-size: cover;
	
}
.type-module .content {
	height: 100px;
    padding: 22px;
    background: url(../img/s_li.png) no-repeat right bottom;
    overflow: hidden;
}
.type-module .content h3 {
	width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #333;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.type-module .content p {
	width: 100%;
	margin: 0px;
    font-size: 14px;
    color: #999;
    line-height: 26px;
}
.type-module ul li:hover {
	background-color: #fd8d43;
}
.type-module ul li:hover .content p,.type-module ul li:hover .content h3 {
	color: #fff;
}

.item-module {
	width: 100%;
	margin-top: 15px;
	padding-bottom: 20px;
}
.item-module ul {
	width: 100%;
	margin: 0px;
}
.item-module ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0 2% 20px 0;
	padding: 0px;
	box-shadow: 0 0 5px #dcdcdc;
	width: 23%;
	cursor: pointer;
	background-color: #fff;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.item-module .header {
	margin: 0px;
	margin-bottom: 25px;
    padding: 22px 10px 0 22px;
}
.item-module .header label {
	position: relative;
	display: inline-block;
	vertical-align: top;
    max-width: 89%;
    margin: 0px;
    font-size: 20px;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-module .header i {
	display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    color: #fd8d43;
    font-size: 24px;
    line-height: 26px;
}
.item-module .header p {
	width: 100%;
    line-height: 26px;
    font-size: 14px;
    color: #9a9a9a;
    margin-top: 8px;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-module .bg-img {
	height: 240px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
    background-size: cover;
}
.item-module ul li:hover .header label {
	color: #fd8d43;
}
.item-module ul li:hover .bg-img {
	opacity: 0.7;
}

.more-container {
	width: 96%;
	margin: 0px auto;
	margin-top: 20px;
}
.more-title {
	width: 100%;
	border-bottom: 1px dotted #ccc;
    line-height: 25px;
}
.more-title span {
	font-size: 14px;
    font-weight: bold;
}
.more-list {
	width: 100%;
}
.more-list ul {
	margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.more-list ul li {
	margin: 0px;
    padding: 0 0 0 10px;
    list-style-type: square;
    list-style-position: inside;
    border-bottom: 1px dotted #ccc;
    line-height: 35px;
    color: #333;
    cursor: pointer;
}
.more-list ul li:hover {
	color: #fd8d43;
}
.more-left {
	display: inline-block;
	vertical-align: top;
	max-width: 78%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.more-right {
	float: right;
}

.module-container {
	width: 100%;
    margin: 0 auto;
}

.item-detail {
	margin: 0px;
	width: 100%;
}
.detail-container {
	width: 100%;
}
.detail-middle {
	margin: 0 auto;
	width: 96%;
}
.detail-header {
	width: 96%;
	height: 50px;
	margin: 0px auto;
    border-bottom: 1px solid #e9e9e9;
    color: #3b3b3b;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}
.detail-header-left {
	float: left;
}
.detail-header-left strong {
	font-weight: normal;
    margin-right: 20px;
}
.detail-header-right {
	float: right;
}
.detail-header-right a {
	color: #555;
}
.detail-header-right a:hover,.detail-header-right a:active {
	color: #fd8d43;
}
.detail-con {
	margin-top: 35px;
}
.detail-pic {
	width: 100%;
	margin: 0px;
	margin-bottom: 10px;
}
.detail-pic dl {
	display: inline-block;
	vertical-align: top;
	width: 31%;
    margin: 15px 1.1%;
	color: #666;
}
.detail-pic dl dd {
	width: 100%;
	margin: 0px;
}
.detail-pic dl dd img {
	width: 100%;
}


.common-pager {
	float: right;
	margin-right: 15px;
}


@keyframes bgsize-animation {
	0% {
		background-size: auto 100%;
	}
	100% {
		background-size: auto 200%;
	}
}
/* Firefox */
@-moz-keyframes bgsize-animation {
	0% {
		background-size: auto 100%;
	}
	100% {
		background-size: auto 200%;
	}
}
/* Safari 和 Chrome */
@-webkit-keyframes bgsize-animation {
	0% {
		background-size: auto 100%;
	}
	100% {
		background-size: auto 200%;
	}
}
/* Opera */
@-o-keyframes bgsize-animation {
	0% {
		background-size: auto 100%;
	}
	100% {
		background-size: auto 200%;
	}
}


@media screen and (max-width: 1000px) {
	.type-module ul li {
		width: 48%;
	}
	.item-module ul li {
		width: 48%;
	}
}
@media screen and (max-width: 760px) {
	.module-container {
		margin-top: 45px;
	}
	.module-header .module-head {
		font-size: 22px;
	    line-height: 30px;
	}
	.module-header .module-subhead {
		font-size: 14px;
	}
	.module-content dl {
		width: 45%;
    		margin: 15px 2.5%;
	}
	.module-return {
		width: 100%;
		font-size: 20px;
	}
	
	.detail-pic dl {
		width: 45%;
    		margin: 15px 2.5%;
	}
	
	.place-title2 {
		max-width: 250px;
	}
	
	.more-left {
		max-width: 55%;
	}
}
@media screen and (max-width: 470px) {
	.module-content dl {
	    width: 100%;
	    margin: 10px auto;
	    float: none;
	}
	
	.detail-header {
		font-size: 12px;
	}
	.detail-pic dl {
		width: 100%;
	    margin: 10px auto;
	}
	
	.type-module ul li {
		width: 100%;
	}
	.item-module ul li {
		width: 100%;
	}
	
	.place-title2 {
		max-width: 150px;
	}
}

