<!-- widget grid -->
<section id="widget-grid">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				<!-- widget content -->
				<div class="widget-body">
					<form class="form-horizontal">
						<fieldset>
							<legend class="text-primary" data-ng-show="$parent.saveType=='edit' && shop.status==1">
								待审批，{{shop.name|showBlankValue}}（申请人：{{shop.shopKeeper.name|showBlankValue}}）&nbsp;&nbsp;&nbsp;&nbsp;
								电话号码：{{shop.phone|showBlankValue}}&nbsp;&nbsp;&nbsp;&nbsp;地址：{{shop.address|showBlankValue}}<br>
								备注：{{shop.remark|showBlankValue}}
							</legend>
							<div class="form-group">
								<label class="col-md-2 control-label">店铺名称：</label>
								<div class="col-md-10">
									<input class="form-control" type="text" placeholder="店铺名称" data-ng-model="shop.name">
									<span class="need-tab">*</span>
								</div>
							</div>
							<div class="form-group" data-ng-show="$parent.saveType=='edit'">
								<label class="col-md-2 control-label">店长：</label>
								<div class="col-md-10 common-value">
									{{shop.shopKeeper.name|showBlankValue}}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">店铺类型：</label>
								<div class="col-md-10">
									<select class="form-control" ui-select2 data-ng-model="shop.shopType">
										<optgroup data-ng-repeat="typet in $parent.typetList" label="{{typet.name}}">
											<option data-ng-repeat="item in typet.typetList" value="{{item.id}}">{{item.name}}</option>
										</optgroup>
									</select>
									<span class="need-tab">*</span>
								</div>
							</div>
							<div class="form-group" data-ng-show="$parent.saveType=='edit'">
								<label class="col-md-2 control-label">入驻时间：</label>
								<div class="col-md-10 common-value">
									{{shop.addTime|formatDate}}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">店铺状态：</label>
								<div class="col-md-10">
									<label class="radio radio-inline">
										<input type="radio" class="radiobox" value="2" data-ng-model="shop.status">
										<span>启用</span>
									</label>
									<label class="radio radio-inline">
										<input type="radio" class="radiobox" value="1" data-ng-model="shop.status">
										<span>待验证</span>
									</label>
									<label class="radio radio-inline">
										<input type="radio" class="radiobox" value="0" data-ng-model="shop.status">
										<span>禁用</span>
									</label>
									<span class="need-tab">*</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">店铺级别：</label>
								<div class="col-md-10">
									<label class="radio radio-inline">
										<input type="radio" class="radiobox" value="0" data-ng-model="shop.recommend">
										<span>普通</span>
									</label>
									<label class="radio radio-inline">
										<input type="radio" class="radiobox" value="1" data-ng-model="shop.recommend">
										<span>推荐</span>
									</label>
									<span class="need-tab">*</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">过期时间：</label>
								<div class="col-md-10">
									<input id="overTimeId" class="form-control" type="text" placeholder="过期时间" onclick="common.MydatePicker();">
									<span class="need-tab">*</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">人气值：</label>
								<div class="col-md-10">
									<input class="form-control" type="number" placeholder="人气值" data-ng-model="shop.popularity">
								</div>
							</div>
							<div class="form-group" data-ng-show="$parent.saveType=='edit'">
								<label class="col-md-2 control-label">电话号码：</label>
								<div class="col-md-10 common-value">
									{{shop.phone|showBlankValue}}
								</div>
							</div>
							<div class="form-group" data-ng-show="$parent.saveType=='edit'">
								<label class="col-md-2 control-label">店铺地址：</label>
								<div class="col-md-10 common-value">
									{{shop.address|showBlankValue}}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">店铺简介：</label>
								<div class="col-md-10">
									<textarea class="form-control" rows="3" cols="" placeholder="店铺简介" data-ng-model="shop.brief"></textarea>
									<div class="common-tip">剩余可输入{{shop.brief|getRemainLength:250}}字</div>
								</div>
							</div>
						</fieldset>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-default common-save-btn" type="button" data-ng-click="$parent.togglePanel(null)">
										返回
									</button>
									<button class="btn btn-primary common-save-btn" type="button" 
										data-ng-show="$parent.saveType=='edit'" data-ng-disabled="isLoadingSave" data-ng-click="editShop(shop)">
										<i class="fa fa-save" data-ng-show="!isLoadingSave"></i>
										<i class="fa fa-spin spinner" data-ng-show="isLoadingSave"></i>
										保存
									</button>
									<button class="btn btn-primary common-save-btn" type="button" 
										data-ng-show="$parent.saveType=='save'" data-ng-disabled="isLoadingSave" data-ng-click="saveShop(shop)">
										<i class="fa fa-save" data-ng-show="!isLoadingSave"></i>
										<i class="fa fa-spin spinner" data-ng-show="isLoadingSave"></i>
										保存
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- end widget -->
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- end row -->
</section>
<!-- end widget grid -->
