<div class="visitorManageId">
	<div class="common-header">
		<div class="header-title">
			<i class="fa fa-laptop"></i>&nbsp;<span data-ng-click="triggerPanel($root.panelContants.INDEX_PANEL)">访客管理</span>
			<div class="second-title" data-ng-show="$root.currentPanel.indexOf($root.panelContants.EDIT_PANEL) > -1">-&nbsp;编辑</div>
		</div>
	</div>
	<div class="common-content" data-ng-show="$root.currentPanel==$root.panelContants.INDEX_PANEL">
		<form class="common-search" data-ng-submit="getVisitorList()">
			<div class="common-box">
				<label>模糊搜索：</label>
				<div class="common-input">
					<input class="search-input" type="search" data-ng-model="condition.keywords" placeholder="IP和备注信息" />
					<button class="common-btn" type="submit" title="搜索">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
			<div class="common-box">
				<label>访问时间：</label>
				<div class="common-input" title="选择时间段">
					<input id="searchDateRangeId" class="search-input" type="text" placeholder="开始时间&nbsp;~&nbsp;结束时间" 
						 date-range-picker options="dateRangePickerOptions" data-ng-model="rangeDate" /> 
					<button class="common-btn" type="button" title="选择时间" data-ng-click="showSearchDateRange();">
						<i class="fa fa-calendar"></i>
					</button>
				</div>
				<a href="javascript:void(0)" class="common-clear-date" data-ng-click="clearDate()">清空</a>
			</div>
			<div class="common-box">
				<label>访问状态：</label>
				<div class="common-input">
					<select class="search-select" data-ng-model="condition.status" data-ng-change="getVisitorList()">
						<option value="1">允许</option>
						<option value="0">禁止</option>
					</select>
				</div>
			</div>
		</form>
		<div class="common-div">
			<table class="common-table">
				<tr class="common-table-header">
					<th>序号</th>
					<th>最近访问时间</th>
					<th>访客IP</th>
					<th>访问次数</th>
					<th>访问状态</th>
					<th>首访时间</th>
					<th>备注</th>
					<th>操作</th>
				</tr>
				<tbody class="common-table-content" data-ng-show="!isLoadingVisitor">
					<tr class="common-table-row" data-ng-repeat="visitor in visitorList">
						<td>{{$index + 1}}</td>
						<td>{{visitor.visitedTime|formatDate}}</td>
						<td>{{visitor.ip|showBlankValue}}</td>
						<td>{{visitor.visitedTimes}}</td>
						<td>{{visitor.status|stringVisitorStatus}}</td>
						<td>{{visitor.createTime|formatDate}}</td>
						<td>{{visitor.remark|showBlankValue}}</td>
						<td>
							<a href="javascript:void(0)" data-ng-click="triggerPanel($root.panelContants.EDIT_PANEL, visitor)">编辑</a>
							<a href="javascript:void(0)" data-ng-click="deleteVisitor(visitor)">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<loading-panel data-ng-show="isLoadingVisitor" font-size="18"></loading-panel>
			<nodata-panel data-ng-show="!isLoadingVisitor && visitorList.length==0" font-size="18"></nodata-panel>
		</div>
		<common-pager class="common-pager" page-count="{{condition.pageCount}}" current-page="condition.pageNo" 
			total-rows="condition.totalCount" to-page-call-back="getVisitorList(pageNo)"></common-pager>
	</div>
	
	<!-- 访客保存面板 start -->
	<visitor-manage-save data-ng-show="$root.isCurrentPanel($root.currentPanel, $root.panelContants.EDIT_PANEL)" 
		visitor="visitorSave" get-visitor-list="getVisitorList()"></visitor-manage-save>
	<!-- 访客保存面板 end -->
	
</div>