<div class="col-lg-12 col-md-12 col-sm-12">
	<ul class="pager pull-right pager-sep"
		style="z-index:{{zIndex}};margin-top:0px;padding-top:0px"
		data-ng-class="{'fixed-pager':fixed , 'nofixed-pager':!fixed}">
		<li data-ng-if="currentPage > 1"><a
			class="fa-angle-double-left fa" href="javascript:void(0)"
			data-ng-click="toPage(1)" title="首页"></a>
		</li>
		<li data-ng-if="currentPage <= 1" ><a
			style="color:rgb(210, 210, 210);" class="fa-angle-double-left fa" title="首页"></a>
		</li>
		<li data-ng-if="currentPage > 1"><a href="javascript:void(0)"
			data-ng-click="toPage(currentPage-1)" class="fa-angle-left fa" title="上一页"></a>
		</li>
		<li data-ng-if="currentPage <= 1"><a
			style="color:rgb(210, 210, 210);" class="fa-angle-left fa" title="上一页"></a>
		</li>
		<li style="padding-left:5px;padding-right:5px">
			<input class="pager-input" title="按回车跳转" data-ng-keypress="checkIfEnterPress($event,selectedPage)"
				type="number" data-ng-model="selectedPage" min="1"
				max="{{pageCount}}" step="1">&nbsp;/&nbsp;{{pageArray.length}}&nbsp;</li>
		<li data-ng-if="currentPage+1 <= pageArray.length"><a
			href="javascript:void(0)" data-ng-click="toPage(currentPage+1)"
			class="fa-angle-right fa" title="下一页"></a>
		</li>
		<li data-ng-if="currentPage+1 > pageArray.length"><a
			style="color:rgb(210, 210, 210);" class="fa-angle-right fa" title="下一页"></a>
		</li>
		<li data-ng-if="currentPage+1 <= pageArray.length"><a
			href="javascript:void(0)" data-ng-click="toPage(pageArray.length)"
			class="fa-angle-double-right fa" title="尾页"></a>
		</li>
		<li data-ng-if="currentPage+1 > pageArray.length"><a
			style="color:rgb(210, 210, 210);" class="fa-angle-double-right fa" title="尾页"></a>
		</li>
		<li>&nbsp;&nbsp;共{{totalRows}}条</li>
	</ul>
</div>