@CHARSET "UTF-8";
.slide-show {
	position: relative;
}

.flexslider {
	margin: 0px auto;
	position: relative;
	width: 100%;
	height: 480px;
	overflow: hidden;
	zoom: 1;
}

.flexslider li {
	list-style: none;
}

.flexslider .slides {
	margin: 0px;
}
.flexslider .slides li {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.flexslider .slides li img {
	width: 100%;
	height: 100%;
	display: block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.flex-direction-nav a {
	width: 70px;
	height: 70px;
	line-height: 99em;
	overflow: hidden;
	margin: -35px 0 0;
	display: block;
	background: url(../img/ad_ctr.png) no-repeat;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	border-radius: 35px;
}

.flex-direction-nav .flex-next {
	background-position: 0 -70px;
	right: 0;
}

.flex-direction-nav .flex-prev {
	left: 0;
}

.flexslider:hover .flex-next {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50);
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	background: url(../img/dot.png) no-repeat 0 -16px;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -99em;
	width: 16px;
	cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
	background-position: 0 0;
}


.ctype {
}
.ctype-one {
	position: absolute;
    top: -30px;
    bottom: 1px;
    left: 60px;
    width: 200px;
    font-size: 14px;
    color: #fff;
    background: rgba(0,0,0,0.6);
    z-index: 50;
}
.ctype-one>ul {
	margin: 0px;
}
.ctype-one>ul>li {
	line-height: 31px;
	padding-left: 38px;
	cursor: auto;
}
.ctype-one>ul>li>span {
	cursor: pointer;
}
.ctype-one>ul>li:first-of-type {
	line-height: 30px;
	padding: 0px 15px;
	color: #fff!important;
    background: #ff0000!important;
}
.ctype-two {
	position: absolute;
	top: 30px;
    bottom: 1px;
    left: 200px;
    width: 800px;
    background: rgba(255,255,255,0.9);
    overflow: auto;
    z-index: 50;
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	display: none;
}
.ctype-two-content {
	margin: 10px 25px;
}
.ctype-two-content a {
	display: inline-block;
	margin-right: 15px;
	color: #666;
	font-size: 16px;
}
.ctype-two-content a:hover {
	color: #ff0000;
}
.ctype-one>ul>li:hover {
	color: #ff0000;
	background: rgba(255,255,255,0.9);
}
.ctype-one>ul>li:hover .ctype-two {
	display: block;
}


.phone-announce {
	display: none;
	padding: 12px 14px;
    background-color: #fff;
}


@media screen and (max-width: 1100px) {
	.ctype-two {
		width: 600px;
	}
}

@media screen and (max-width: 900px) {
	.ctype-two {
		width: 400px;
	}
}

@media screen and (max-width: 760px) {
	.ctype {
		display: none;
	}
	
	.flexslider {
		height: 300px !important;
	}
	
	.phone-announce {
		display: block;
	}
	
}

@media screen and (max-width: 490px) {
	.flexslider {
		height: 180px !important;
	}
}





