@CHARSET "UTF-8";
.client-top {
	
}
.ct-container {
	box-shadow: 0 0 3px 0px rgba(0,0,0,.2);
}
.ct-left {
	float: left;
	margin-left: 30px;
}
.ct-right {
	float: right;
	margin-right: 30px;
}
.ct-first-row {
	height: 35px;
	line-height: 35px;
    border-bottom: 1px solid #ebebeb;
    background: #f8f8f8;
}
.ct-first-row span {
	margin-right: 15px;
}
.ct-wechat {
	position: relative;
}
.ct-wechat-img {
	display: none;
	position: absolute;
	top: 35px;
	left: -10px;
}
.ct-wechat-img img {
	width: 100px;
}
.ct-wechat:hover .ct-wechat-img {
	display: block;
	animation: fall-animation .5s;
	-moz-animation: fall-animation .5s;	/* Firefox */
	-webkit-animation: fall-animation .5s;	/* Safari 和 Chrome */
	-o-animation: fall-animation .5s;	/* Opera */
}
@keyframes fall-animation {
	0% {
		top: 0px;
	}
	50% {
		top: 50px;
	}
	75% {
		top: 25px;
	}
	100% {
		top: 35px;
	}
}
/* Firefox */
@-moz-keyframes fall-animation {
	0% {
		top: 0px;
	}
	50% {
		top: 50px;
	}
	75% {
		top: 25px;
	}
	100% {
		top: 35px;
	}
}
/* Safari 和 Chrome */
@-webkit-keyframes fall-animation {
	0% {
		top: 0px;
	}
	50% {
		top: 50px;
	}
	75% {
		top: 25px;
	}
	100% {
		top: 35px;
	}
}
/* Opera */
@-o-keyframes fall-animation {
	0% {
		top: 0px;
	}
	50% {
		top: 50px;
	}
	75% {
		top: 25px;
	}
	100% {
		top: 35px;
	}
}

.ct-second-row {
	height: 100px;
}

.ct-sysname {
    margin-top: 25px;
    margin-bottom: 12px;
    color: #f2904e;
    font-family: "微软雅黑";
    font-size: 26px;
    font-weight: bolder;
    text-shadow: 0px 0px 0px #efefef;
    letter-spacing: 2px;
}
.ct-subname {
	color: #dbdbdb;
    font-size: 18px;
    text-shadow: 0px 0px 0px #333;
    letter-spacing: 4px;
}

.ct-navbar {
	margin-top: 20px;
    color: #333;
    font-size: 16px;
}
.ct-navbar ul {
	margin: 0px;
}
.ct-navbar ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    padding: 18px 12px;
	list-style: none;
    cursor: pointer;
}
.ct-navbar ul li:hover,.ct-navbar ul li.active {
	color: #f2904e;
}

.ct-toggle {
	display: none;
	margin-top: 20px;
    font-size: 16px;
}
.ct-toggle a {
	color: #333;
	padding: 16px;
}
.ct-toggle a:hover,.ct-toggle a:active {
	color: #f2904e;
}

.ct-toggle-navbar {
	position: absolute;
	width: 100%;
	height: 0px;
	z-index: 99;
	color: #fff;
	background-color: #f2904e;
	overflow: hidden;
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	
}
.ct-toggle-navbar.click {
	height: 250px;
}
.ct-toggle-navbar ul {
	margin: 0px 20px;
}
.ct-toggle-navbar ul li {
	list-style: none;
    line-height: 45px;
    text-align: left;
    padding: 0px 15px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.ct-toggle-navbar ul li:hover,.ct-toggle-navbar ul li:active {
	background-color: #ED7417;
}
.ct-toggle-navbar ul li.active {
	
}

.ct-fixed-item {
	position: relative;
	color: #fff!important;
	text-align: center;
	cursor: pointer;
}
.ct-fixed-item i {
	margin-top: 8px;
	font-size: 24px;
}
.ct-fixed-item p {
	
}
.ct-left-fixed {
	position: fixed;
	top: 50%;
	right: 0px;
	margin-top: -70px;
	z-index: 99;
}
.ct-left-fixed .ct-fixed-item {
	width: 60px;
	height: 60px;
	margin-bottom: 15px;
	background-color: rgba(50,50,50,0.8);
	font-size: 12px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.ct-fixed-item:hover,.ct-fixed-item:active {
	color: #fff;
	background-color: #f2904e;
}
.ct-phone {
	display: none;
	position: absolute;
    top: -120px;
    right: 60px;
	cursor: default;
}
.ct-phone-container {
	width: 150px;
    margin-right: 8px;
    background-color: #fff;
}
.ct-phone-first {
	text-align: center;
    background-color: #f2904e;
    padding: 10px;
}
.ct-phone-box {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}
.ct-phone-box i {
	font-size: 50px;
}
.ct-phone-box p {
	color: #fff;
    margin-top: 10px;
    font-size: 14px;
}
.ct-phone-second {
    color: #333;
    font-size: 16px;
    text-align: center;
    background-color: #f9fbfb;
    padding-top: 15px;
    padding-bottom: 5px;
}
.ct-phone-row {
	text-align: center;
	margin-bottom: 10px;
}
.ct-phone-row a {
	color: #333;
}
.ct-phone-row a:hover {
	color: #f2904e;
}
.ct-phone-row label {
	font-size: 18px;
	cursor: default;
}
.ct-phone-row span {
	color: #f2904e;
	font-size: 18px;
}
.ct-phone-third {
	text-align: center;
	padding: 10px;
}
.ct-phone-third img {
}
.ct-fixed-phone:hover .ct-phone {
	display: block;
	animation: toright-animation .4s;
	-moz-animation: toright-animation .4s;	/* Firefox */
	-webkit-animation: toright-animation .4s;	/* Safari 和 Chrome */
	-o-animation: toright-animation .4s;	/* Opera */
}
@keyframes toright-animation {
	0% {
		right: 260px;
	}
	100% {
		right: 60px;
	}
}
/* Firefox */
@-moz-keyframes toright-animation {
	0% {
		right: 260px;
	}
	100% {
		right: 60px;
	}
}
/* Safari 和 Chrome */
@-webkit-keyframes toright-animation {
	0% {
		right: 260px;
	}
	100% {
		right: 60px;
	}
}
/* Opera */
@-o-keyframes toright-animation {
	0% {
		right: 260px;
	}
	100% {
		right: 60px;
	}
}

.ct-bottom-fixed {
	display: none;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #333;
	z-index: 99;
}
.ct-bottom-fixed .ct-fixed-item {
	display: inline-block;
	vertical-align: top;
	width: 24.2%;
	border: none;
}


@media screen and (max-width: 760px) {
	.ct-first-row {
		display: none;
	}
	.ct-second-row {
		height: 60px;
	}
	.ct-sysname {
		font-size: 18px;
	    margin-top: 10px;
	    margin-bottom: 2px;
	}
	.ct-subname {
		font-size: 14px;
	}
	.ct-navbar {
		display: none;
	}
	.ct-navbar ul li {
		padding: 14px;
	}
	
	.ct-toggle {
		display: block;
	}
	
	.ct-left-fixed {
		display: none;
	}
	
	.ct-bottom-fixed {
		display: block;
	}
	
	body {
		padding-bottom: 60px;
	}
}

