<div class="index-container" data-ng-controller="majorIndexCtrl">
	<div class="common-header">
		<div class="header-title">
			<i class="fa fa-home"></i><span>&nbsp;首页</span>
		</div>
	</div>
	<div class="common-content">
		<div class="major-slogan">
			欢迎您，<span>{{$root.currentUser.name}}</span>！
		</div>
		<div class="major-second">
			访客总数：<span>{{visitorCondition.totalCount}}</span>
		</div>
		<div class="common-div">
			<table class="common-table">
				<tr class="common-table-header">
					<th>最近访问时间</th>
					<th>访客IP</th>
					<th>访问次数</th>
					<th>首访时间</th>
					<th>备注</th>
				</tr>
				<tbody class="common-table-content" data-ng-show="!isLoadingVisitor">
					<tr class="common-table-row" data-ng-repeat="visitor in visitorList">
						<td>{{visitor.visitedTime|formatDate}}</td>
						<td>{{visitor.ip|showBlankValue}}</td>
						<td>{{visitor.visitedTimes}}</td>
						<td>{{visitor.createTime|formatDate}}</td>
						<td>{{visitor.remark|showBlankValue}}</td>
					</tr>
				</tbody>
			</table>
			<loading-panel data-ng-show="isLoadingVisitor" font-size="18"></loading-panel>
			<nodata-panel data-ng-show="!isLoadingVisitor && visitorList.length==0" font-size="18"></nodata-panel>
		</div>
	</div>
</div>