<!-- dialog -->
<div class="modal fade" id="{{imagePanelId}}" tabindex="-1" role="dialog" aria-labelledby="imagePanelLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" data-ng-click="toggleEdit(false)">&times;</button>
				<h4 class="modal-title">查看图片<span class="image-count">共{{imagePathList.length}}张</span></h4>
			</div>
			<div class="modal-body">
				<div class="image-content">
					<div class="image-angle image-angle-left" data-ng-click="triggerImage('left')">
						<i class="fa fa-angle-left"></i>
					</div>
					<div class="image-angle image-angle-right" data-ng-click="triggerImage('right')">
						<i class="fa fa-angle-right"></i>
					</div>
					<img alt="暂无图片" data-ng-src="{{currentImage.path}}">
					<div class="image-index">{{currentImage.index + 1}}</div>
				</div>
			</div>
		</div>
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
