<div class="shop-index-page" data-ng-controller="aboutPageCtrl">
	<!-- 店铺导航start -->
	<shop-nav selected-nav="selectedNav" type-list="shopIndexScope.typeList"></shop-nav>
	<!-- 店铺导航end -->
	
	<!-- 轮播图片start -->
	<slide-show class="shop-only-pc" table-name="tb_product" slide-list="slideList" slide-href-list="slideHrefList" index-ans="indexAns"></slide-show>
  	<!-- 轮播图片end -->
  	
  	<!-- 商家详情start -->
  	<div class="sa-content">
  		<div class="sa-for-scroll">
  			<!-- 商家基本信息start -->
		  	<div class="sa-basic">
		  		
		  	</div>
  			<!-- 商家基本信息end -->
  			
		  	<!-- 商家描述start -->
	  		<div data-ng-bind-html="sce.trustAsHtml(shopIndexScope.shopInfo.description)"></div>
		  	<!-- 商家描述end -->
  		</div>
  	</div>
  	<!-- 商家详情end -->
</div>