<div class="shop-index-page" data-ng-class="{'shop-index-page-search':routeParams.keywords}" data-ng-controller="indexPageCtrl">
	<!-- 店铺导航start -->
	<shop-nav selected-nav="selectedNav" type-list="shopIndexScope.typeList"></shop-nav>
	<!-- 店铺导航end -->
	
	<!-- pc端的轮播图片start -->
	<slide-show class="shop-only-pc" data-ng-show="!routeParams.keywords && !routeParams.type" 
		table-name="tb_product" slide-list="slideList" slide-href-list="slideHrefList"></slide-show>
  	<!-- pc端的轮播图片end -->
  	
  	<!-- pc端的搜索条件start -->
	<div class="shop-commodel shop-condition shop-only-pc" data-ng-show="routeParams.keywords || routeParams.type">
		<div class="scondition-header common-padding" data-ng-show="routeParams.keywords">
			<h4>
				<span>过滤：{{routeParams.keywords|showBlankValue}}</span>
			</h4>
		</div>
		<div class="scondition-content common-padding">
			<table>
				<tr>
					<td class="scondition-td1">商品分类</td>
					<td>
						<div class="scondition-td2" data-ng-class="{'scondition-more': isTypeMore}">
							<span data-ng-click="isTypeMore = !isTypeMore">
								更多&nbsp;<i class="fa" data-ng-class="{'fa-chevron-down':!isTypeMore, 'fa-chevron-up':isTypeMore}"></i>
							</span>
							<a data-ng-class="{'active': !condition.proType || condition.proType==''}" 
								data-ng-click="selectType('')" href="javascript:void(0)" >全部</a>
							<a data-ng-class="{'active': condition.proType==item.id}" 
								data-ng-click="selectType(item.id)" data-ng-repeat="item in shopIndexScope.typeList" href="javascript:void(0)" >{{item.name|showBlankValue}}</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- pc端的搜索条件end -->
  	
  	<!-- 手机端的类型列表start -->
  	<div class="sphone-type shop-only-phone">
  		<ul>
  			<li data-ng-class="{'active': !condition.proType || condition.proType==''}" data-ng-click="selectType('')">全部</li>
  			<li data-ng-class="{'active': condition.proType==item.id}" 
  				data-ng-click="selectType(item.id)" data-ng-repeat="item in shopIndexScope.typeList">{{item.name|showBlankValue}}</li>
  		</ul>
  	</div>
  	<!-- 手机端的类型列表end -->
  	
  	<!-- 商品列表start -->
  	<div class="shop-commodel shop-product sphone-product">
  		<div class="shoppro-content">
  			<ul>
  				<li data-ng-repeat="item in productList" data-ng-click="toPage('/home/product-index?productId='+item.id, true)">
  					<div class="shoppro-img" style="background-image: url({{item.picPathList|getImgByImgList}})"></div>
  					<div class="shoppro-con">
  						<h3 title="{{item.price}}元">
  							<i class="fa fa-rmb"></i>&nbsp;{{item.price}}
  							<label title="浏览量：{{item.clickCount}}">浏览量：{{item.clickCount}}</label>
  						</h3>
  						<div class="shoppro-count shop-only-phone">
  							<div class="cart-count" data-ng-show="!(item|getCartCount:clientTopScope.cartList)">
	  							<label class="cart-plus" href="javascript:void(0)" data-ng-click="clientTopScope.addCart(item, 1, $event);clientTopScope.addCartAnimate($event);"><i class="fa fa-plus"></i></label>
  							</div>
  							<div class="cart-count" data-ng-show="item|getCartCount:clientTopScope.cartList">
  								<label class="cart-minus" data-ng-click="clientTopScope.editCartCount((item|getCartInfo:clientTopScope.cartList), -1, $event)"><i class="fa fa-minus"></i></label>
								<span>{{item|getCartCount:clientTopScope.cartList}}</span>
								<label class="cart-plus" data-ng-click="clientTopScope.editCartCount((item|getCartInfo:clientTopScope.cartList), 1, $event);clientTopScope.addCartAnimate($event);"><i class="fa fa-plus"></i></label>
  							</div>
  						</div>
  						<div class="shoppro-name">
	  						<a title="{{item.name | showBlankValue}}" href="javascript:void(0)">{{item.name | showBlankValue}}</a>
  						</div>
  						<div class="shoppro-bot">
	  						<p title="{{item.shopName | showBlankValue}}">{{item.shopName | showBlankValue}}</p>
	  						<span class="shoppro-collected" data-ng-show="item.id|getCollectedObj:clientTopScope.collectProductListBak"><i class="fa fa-star"></i>&nbsp;已收藏</span>
  						</div>
  					</div>
  				</li>
  			</ul>
  		</div>
		<nodata-panel data-ng-show="!isLoadingProduct && productList.length==0" font-size="18"></nodata-panel>
		<loading-panel data-ng-show="isLoadingProduct" font-size="18"></loading-panel>
  	</div>
  	<!-- 商品列表end -->
</div>
