@CHARSET "UTF-8";
.login-body {
	background: url("../img/login_background.jpg") no-repeat;
}

.login-container {
	margin: 0 auto;
	width: 600px;
}

.login-header {
	width: 100%;
	margin-top: 65px;
	margin-bottom: 10px;
	color: #333;
	font-family: 'Microsoft YaHei';
	font-size: 22px;
	font-weight: bolder;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    padding: 10px;
}
.login-content {
	width: 100%;
	height: 320px;
	background-color: RGBA(255,255,255,0.7);
	box-shadow: 5px 5px 8px RGBA(0,0,0,0.32);
	border-radius: 5px;
	padding-top: 50px;
}
.login-content form{
	text-align: center;
}

.login-content .login-error {
	margin: 0 auto;
	text-align: left;
	width: 277px;
	height: 25px;
	margin-bottom: 10px;
	color: red;
}

.login-content .input-group {
	margin-bottom:30px;
}

.input-group-span {
	float: none;
    margin: -4px;
    margin-bottom: 0px;
	border: 1px solid #ccc;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #e7e7e7;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    height: auto;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    display: inline-block;
}
.input-group-in {
	height: auto!important;
	border-left: none!important;
	border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    margin-bottom: 2px!important;
    padding: 8px 10px !important;
}
.input-group-btn {
	color: #ffffff;
	background: #00a2ca;
	border: none;
	height: 36px;
	width: 277px;
}
.input-group-btn:HOVER {
	color: #ffffff;
	background:#33b5d4;
	border:none;
}
.input-group-btn:ACTIVE {
	background:#008fb2;
	border-color:#008fb2;
}






