@CHARSET "UTF-8";
.login-body {
	background-image: url("../img/login_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.login-container {
	margin: 0 auto;
	width: 600px;
}

.login-header {
	width: 100%;
	margin-top: 65px;
	margin-bottom: 10px;
	color: #333;
	font-family: 'Microsoft YaHei';
	font-size: 22px;
	font-weight: bolder;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    padding: 10px;
}
.login-content {
	width: 100%;
	height: 320px;
	background-color: RGBA(255,255,255,0.7);
	box-shadow: 5px 5px 8px RGBA(0,0,0,0.32);
	border-radius: 5px;
	padding-top: 50px;
}
.login-content form{
	text-align: center;
}

.login-content .login-error {
	margin: 0 auto;
	text-align: left;
	width: 277px;
	height: 25px;
	margin-bottom: 10px;
	color: red;
}

.login-content .input-group {
	margin: 0 auto;
	margin-bottom:30px;
}

.login-row {
	margin: 0 auto;
	margin-top: 12px;
    text-align: center;
    line-height: 36px;
	width: 280px;
}
.login-row .input-group {
	margin: 0 auto;
	width: 100%;
}
.login-row .input-group>input {
	height: 36px;
}
.login-label {
	display: table-cell;
    vertical-align: middle;
    width: 40px;
    background-color: #dddddd;
}
.login-btn {
	width: 100%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: #00a2ca;
    outline: none;
}
.login-btn:HOVER {
	color: #fff;
	background:#33b5d4;
	outline: none;
}
.input-group-btn:ACTIVE {
	background:#008fb2;
	border-color:#008fb2;
}






