<div id="shopHeaderId" class="client-header">
	<!-- PC端start -->
	<div class="sh-pc row">
		<div class="sh-pc-left col-sm-8 col-lg-6">
			<header> 
				<div class="sh-head-box my-pointer" data-ng-click="toIndexPage()">
					<img data-ng-src="{{systemLogo}}" alt="">
					{{systemName}}
				</div>
				<div class="sh-head-box">
					<div class="name-box">
						<img data-ng-src="{{shopInfo.logoPathList|getLogoByLogoList}}" alt="">
						<div class="shop-name">
							{{shopInfo.name}}
							<div>
								<label class="recommend" data-ng-if="shopInfo.recommend==1">推荐</label>
								<label title="{{shopInfo.shopKeeper.name}}">{{shopInfo.shopKeeper.name}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="sh-head-box">
					<div class="sh-collect">
						<a data-ng-class="{'active': collectedObj}" href="javascript:void(0)" data-ng-click="toggleCollect()">
							<i class="fa fa-star"></i>&nbsp;{{collectedObj?"已收藏":"收藏本店"}}
						</a>
					</div>
					<div class="sh-popularity">
						<span>人气&nbsp;{{shopInfo.popularity}}</span>
						<span>评分&nbsp;{{shopInfo.mark}}</span>
					</div>
				</div>
			</header>
		</div>
		<div class="sh-pc-middle col-sm-4 col-lg-6">
			<form class="sh-pc-search" data-ng-submit="toSearchPage()">
				<div class="input-group">
					<input class="form-control" type="search" placeholder="搜索 商品" data-ng-model="keywords">
					<div class="input-group-btn">
						<button class="btn" type="submit" title="搜索">
							搜&nbsp;&nbsp;索
						</button>
					</div>
				</div>
			</form>
			
			<div class="sh-pc-announce">
				<slide-announce ans-id="shopAnsPcId" ans-win-id="shopAnsWinId" index-ans="indexAns"></slide-announce>
			</div>
		</div>
	</div>
	<!-- PC端end -->
	
	<!-- 手机端start -->
	<div class="sh-phone">
		<!-- 背景图 -->
		<div class="sh-phone-bg" style="background-image: url({{shopInfo.picPathList|getImgByImgList}});"></div>
		
		<!-- 搜索框 -->
		<div class="sh-phone-search">
			<div class="sh-phone-return" data-ng-click="toBackPage()"><i class="fa fa-chevron-left"></i></div>
			<form data-ng-submit="toSearchPage()">
				<div class="input-group">
					<input class="form-control" type="search" placeholder="搜索 商品" data-ng-model="keywords">
					<div class="input-group-btn">
						<button class="btn" type="submit" title="搜索">搜索</button>
					</div>
				</div>
			</form>
		</div>
		
		<!-- 店铺信息 -->
		<div class="sh-phone-head">
			<img data-ng-src="{{shopInfo.logoPathList|getLogoByLogoList}}" alt="">
			<div class="shop-name">
				<h4 title="{{shopInfo.name}}">{{shopInfo.name}}</h4>
				<div>
					<a class="sh-phone-collect" data-ng-class="{'active': collectedObj}" href="javascript:void(0)" data-ng-click="toggleCollect()">
						<i class="fa fa-star"></i>&nbsp;{{collectedObj?"已收藏":"收藏本店"}}
					</a>
					<span>人气&nbsp;{{shopInfo.popularity}}</span>
					<span>评分&nbsp;{{shopInfo.mark}}</span>
				</div>
				<div>
					<label class="recommend" data-ng-if="shopInfo.recommend==1">推荐</label>
					<label title="{{shopInfo.shopKeeper.name}}">{{shopInfo.shopKeeper.name}}</label>
				</div>
			</div>
		</div>
		
		<!-- 店铺公告 -->
		<div class="sh-phone-announce">
			<slide-announce ans-id="shopAnsPhoneId" ans-win-id="shopAnsWinId" index-ans="indexAns"></slide-announce>
		</div>
	</div>
	<!-- 手机端end -->
</div>

