<div class="common-content">
	<div class="common-save-row">
		<div class="common-save-label">角色名称：</div>
		<div class="common-save-value">
			<input class="common-save-input" type="text" placeholder="角色名称" data-ng-model="rightGroup.name">
			<span class="need-tab">*</span>
		</div>
	</div>
	
	<div class="common-save-row">
		<div class="common-save-label">权限：</div>
		<div class="common-save-value">
			<div class="common-save-right" data-ng-repeat="typeRight in typeRightList">
				<div class="header">{{typeRight.name}}</div>
				<div class="content">
					<div class="checkbox" data-ng-repeat="right in typeRight.rightList">
						<label>
							<input type="checkbox" data-ng-model="right.checked">{{right.name}}
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="common-save-bottom">
		<button class="btn btn-default" data-ng-click="$root.returnPanel()">返回</button>
		<button class="btn btn-primary" data-ng-show="$root.isCurrentPanel($root.currentPanel, $root.panelContants.RIGHT_GROUP_SAVE)" 
			data-ng-disabled="isLoadingSave" data-ng-click="saveRightGroup(rightGroup)">保存</button>
		<button class="btn btn-primary" data-ng-show="$root.isCurrentPanel($root.currentPanel, $root.panelContants.RIGHT_GROUP_EDIT)" 
			data-ng-disabled="isLoadingSave" data-ng-click="editRightGroup(rightGroup)">保存</button>
	</div>
	
</div>
