@CHARSET "UTF-8";
.client-bottom {
	width: 100%;
	color: #333;
    background: #f4f4f4;
    overflow: hidden;
    margin-top: 50px;
    padding-bottom: 20px;
}

.cb-container {
	margin-top: 50px;
}

.cb-content {
	margin-bottom: 40px;
}
.cb-content ul {
	display: inline-block;
    vertical-align: top;
	margin: 10px 0px;
	margin-right: 20%;
	text-align: left;
}
.cb-content ul li {
	list-style: none;
	margin-bottom: 8px;
}
.cb-content ul li .header {
	font-size: 18px;
    color: #222;
    margin-bottom: 15px;
}
.cb-content ul li a {
	color: #333;
	text-decoration: none;
}
.cb-content ul li a:hover {
	color: #24b727;
}
.cb-left {
	display: inline-block;
	vertical-align: top;
	width: 28%;
	text-align: center;
}
.cb-sysname {
	font-size: 20px;
	font-weight: bolder;
}
.cb-subname {
	font-size: 16px;
    margin: 15px 0px;
}
.cb-middle {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	text-align: center;
}
.cb-right {
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
.cb-right ul {
	margin: 10px 0px;
}
.cb-right ul li .header {
	color: #24b727;
}
.cb-right ul li {
	
}

.cb-footer {
	font-size: 12px;
	text-align: center;
}
.cb-footer p {
	margin: 0px;
	padding: 0px;
}
.cb-footer p a {
	color: #333;
	text-decoration: none;
}


@media screen and (max-width: 760px) {
	.cb-content {
		font-size: 12px;
	}
	.cb-content ul {
		display: inline-block;
	    vertical-align: top;
		margin: 10px 45px;
		text-align: center;
	}
	.cb-content ul li .header {
		font-size: 16px;
	}
	.cb-left {
		display: none;
	}
	.cb-middle {
		width: 100%;
	}
	.cb-right {
		width: 100%;
		text-align: center;
	}
}
