<div class="index-container" data-ng-controller="reportManageCtrl">
	
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				举报管理
			</h1>
		</div>
	</div>
	
	<!-- widget grid -->
	<section id="widget-grid">
		<!-- row -->
		<div class="row">
			<!-- NEW WIDGET START -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
					<header>
						<h2>举报列表</h2>
					</header>
	
					<!-- widget div-->
					<div>
						<!-- widget content -->
						<div class="widget-body">
							
							<!-- 过滤条件 -->
							<form class="common-form" data-ng-submit="pagedReportList()">
								<div class="input-group">
									<label class="col-md-3 control-label">模糊搜索：</label>
									<div class="col-md-9">
										<input class="form-control" type="search" data-ng-model="condition.keywords" placeholder="举报内容">
										<div class="input-group-btn">
											<button class="btn btn-default btn-primary" type="submit" title="搜索">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="input-group">
									<label class="col-md-3 control-label">消息状态：</label>
									<div class="col-md-9">
										<select class="form-control" ui-select2 data-ng-model="condition.status" data-ng-change="pagedReportList()">
											<option value="">全部</option>
											<option value="1">未读</option>
											<option value="2">已读</option>
										</select>
									</div>
								</div>
							</form>
						
							<div class="chat-body no-padding">
								<ul data-ng-show="!isLoadingReport">
									<li class="message" data-ng-repeat="report in reportList">
										<div class="mes-index"><em data-ng-if="report.status==1">new</em>{{$index + 1}}</div>
										<div class="mes-text">
											<a href="javascript:void(0);" class="username">{{report.userName|showBlankValue}}<small class="text-muted pull-right ultra-light">{{report.createTime|formatDate}}</small></a> 
											<div class="tips">
												<span title="删除" data-ng-click="deleteReport(report)">
													<i class="fa fa-trash"></i>
												</span>
												<span data-ng-click="togglePanel(report)">
													<i class="fa" data-ng-class="{'fa-chevron-down':!report.isDetail,'fa-chevron-up':report.isDetail}"></i>
													{{report.isDetail?"收起":"详情"}}
												</span>
											</div>
											<div class="mes-content" data-ng-class="{'show-all':report.isDetail}">{{report.content|showBlankValue}}</div>
										</div>
									</li>
								</ul>
								
								<loading-panel data-ng-show="isLoadingReport" font-size="18"></loading-panel>
								<nodata-panel data-ng-show="!isLoadingReport && reportList.length==0" font-size="18"></nodata-panel>
							</div>
						
							<common-pager class="common-pager" page-count="{{condition.pageCount}}" current-page="condition.pageNo" 
								total-rows="condition.totalCount" to-page-call-back="pagedReportList(pageNo)"></common-pager>
							
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget div -->
				</div>
				<!-- end widget -->
			</article>
			<!-- WIDGET END -->
		</div>
		<!-- end row -->
	</section>
	<!-- end widget grid -->
	
</div>
