<div id="clientBottomId" class="client-bottom">
	<div class="cb-container">
		<div class="cb-content">
			<div class="cb-left">
				<div class="cb-sysname">
					<img data-ng-src="{{systemLogo}}" alt="">{{systemName}}
				</div>
			</div>
			<div class="cb-middle">
				<ul>
					<li><div class="header">联系我们</div></li>
					<li>邮箱：{{email|showBlankValue}}</li>
					<li>手机：{{telephone|showBlankValue}}</li>
					<li>电话：{{phone|showBlankValue}}</li>
					<li>Q&nbsp;Q：{{qq|showBlankValue}}</li>
					<li>地址：{{companyAddress|showBlankValue}}</li>
				</ul>
			</div>
			<div class="cb-right">
				<div class="cb-wechat">
					<img alt="" data-ng-src="{{wechatPic}}">
					<div class="text">
						<i class="fa fa-wechat"></i>
						<p>扫二维码关注</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cb-footer">
			<p>
				友情链接：
				<a href="http://www.baidu.com/" target="_blank">百度一下</a>
			</p>
			<p>Copyright © {{copyRight}} {{companyName}} 版权所有 备案号：{{companyRecord}} </p>
		</div>
	</div>
</div>