@CHARSET "UTF-8";
.index-commodel {
	padding: 10px 20px;
}

.index-recommend {
	display: none;
	background-color: #ebebeb;
}

.ishop-header {
	margin: 0 auto;
	width: 1200px;
}

.index-recommend .ishop-header {
	text-align: center;
	padding: 10px;
}
.index-recommend .ishop-header h2 {
	margin: 0px;
	font-size: 18px;
	color: #ff0000;
}

.index-shop {
	display: none!important;
	background-color: #fff;
}
.index-shop-show {
	display: block!important;
}

.index-shop .ishop-header {
	padding: 10px 10px;
}
.index-shop .ishop-header h2 {
	display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 7px 30px;
    font-size: 16px;
    color: #fff;
    background: #ff0000;
}
.index-shop .ishop-header a {
	float: right;
	line-height: 31px;
	font-size: 16px;
    color: #a0a0a0;
}

.ishop-content {
	text-align: left;
	margin: 0 auto;
	width: 1200px;
}
.ishop-content>ul {
	
}
.ishop-content>ul>li {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	width: 180px;
	margin: 10px;
	background: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.ishop-img {
	width: 100%;
    height: 120px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.ishop-con {
	position: relative;
	padding: 5px 10px;
	text-align: left;
	background: url(../img/s_li.png) no-repeat right bottom;
}
.ishop-con>h3 {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-top: 5px;
    margin-bottom: 5px;
	width: 100%;
	font-weight: bolder;
	font-size: 16px;
	color: #333;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ishop-con p {
    margin-bottom: 2px;
    font-size: 12px;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ishop-con p label {
	float: right;
    position: relative;
    margin: 0px;
    font-family: "微软雅黑";
    color: #aaa;
}
.ishop-con p label i {
	color: #ff0000;
}
.ishop-content>ul>li:hover {
	transform:translateY(-6px);
	-webkit-transform:translateY(-6px);
	-moz-transform:translateY(-6px);
	box-shadow:0 26px 40px -24px rgba(0,36,100,.3);
	-webkit-box-shadow:0 26px 40px -24px rgba(0,36,100,.3);
	-moz-box-shadow:0 26px 40px -24px rgba(0,36,100,.3);
}
.ishop-content>ul>li:hover .ishop-con>h3 {
	color: #ff0000;
}

@media screen and (max-width: 1250px) {
	.ishop-content {
		width: 600px;
	}
	.ishop-header {
		width: 600px;
	}
}

@media screen and (max-width: 760px) {
	.ishop-content {
		width: auto;
	}
	.ishop-header {
		width: auto;
	}
}

@media screen and (max-width: 490px) {
	.index-commodel {
		padding: 5px;
	}
	.ishop-content>ul>li {
		width: 44.5%;
	}
	.ishop-img {
		height: 100px;
	}
}
