@CHARSET "UTF-8";
.index-about {
	margin-top: 30px;
	background: url(../img/index_about.jpg) no-repeat center top #163e59;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.index-about h1 {
	line-height: 38px;
    text-align: center;
    font-size: 28px;
}
.index-about p {
	font-size: 14px;
    color: #e2e2e2;
    line-height: 28px;
    width: 840px;
    margin: 40px auto;
    text-align: left;
}
.index-about a {
	width: 150px;
    background: #24b727;
    border-radius: 2px;
    font-size: 16px;
    color: #fff;
    height: 46px;
    line-height: 46px;
    display: inline-block;
    margin: 0 8px;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.index-about a:hover {
	background: #11a914;
}

@media screen and (max-width: 1000px) {
	.index-about p {
		width: 90%;
	}
}

@media screen and (max-width: 760px) {
	.index-about h1 {
		font-size: 24px;
	}
}


