@CHARSET "UTF-8";
.client-bottom {
	width: 100%;
	color: #333;
    background: #f4f4f4;
    overflow: hidden;
    padding-bottom: 20px;
}

.cb-container {
	margin-top: 50px;
}

.cb-content {
	margin-bottom: 40px;
}
.cb-content ul {
	display: inline-block;
    vertical-align: top;
	margin: 10px 0px;
	margin-right: 20%;
	text-align: left;
}
.cb-content ul li {
	list-style: none;
	margin-bottom: 8px;
}
.cb-content ul li .header {
	font-size: 18px;
    color: #222;
    margin-bottom: 15px;
}
.cb-content ul li a {
	color: #333;
	text-decoration: none;
}
.cb-content ul li a:hover {
	color: #24b727;
}
.cb-left {
	display: inline-block;
	vertical-align: top;
	width: 28%;
	text-align: center;
}
.cb-sysname {
	font-size: 20px;
	font-weight: bolder;
}
.cb-middle {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	text-align: center;
}
.cb-right {
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
.cb-wechat {
	margin: 20px;
}
.cb-wechat img {
	width: 100px;
}
.cb-wechat .text {
	display: inline-block;
	vertical-align: top;
    height: 100%;
    margin-left: -4px;
    padding: 18px 10px;
    text-align: center;
    background-color: #fff;
}
.cb-wechat .text>i {
	font-size: 35px;
	color: #60cc34;
}
.cb-wechat .text>p {
	margin: 5px 0px;
}

.cb-footer {
	font-size: 12px;
	text-align: center;
}
.cb-footer p {
	margin: 0px;
	padding: 0px;
}
.cb-footer p a {
	color: #333;
	text-decoration: none;
}


@media screen and (max-width: 760px) {
	.client-bottom {
		display: none;
	}
}
