<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.3.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
		
		<!-- 开启组建自动扫描，扫描的路径有base-package属性指定 -->
		<context:component-scan base-package="com.sky.business"/>
		<!-- 自动扫描包 end -->
		
		<!-- 开启AOP对@Aspectj的注解支持 -->
<!-- 		<aop:aspectj-autoproxy/> -->
		<!-- 开启AOP对@Aspectj的注解支持 end -->
		
</beans>

