@CHARSET "UTF-8";
.modal.fade {
	display: none;
	color: #333;
}
.wait-tag {
	color: #274ea7;
}

.common-header {
    background-color: rgba(0, 0, 0, 0.45);
    border-bottom: 1px solid rgba(255,255,255,0.55);
    padding: 10px 20px;
    font-size: 16px;
}
.common-header .header-title {
	
}
.header-title i {
	font-size: 1.2em;
}
.header-title span {
	cursor: pointer;
}
.header-title .second-title {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.common-content {
	position: absolute;
    top: 42px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    overflow: auto;
    padding: 10px 20px;
}
.common-search {
	margin: 0px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
.common-box {
	margin-bottom: 10px;
}
.common-box label {
	cursor: default;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    line-height: 32px;
    width: 72px;
    text-align: right;
}
.common-input {
	display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
}
.common-input .search-select {
	min-width: 200px;
	height: 30px;
	margin: 0px;
	border-radius: 0px;
    border: none;
    outline: none;
}
.common-input .search-input{
	display: inline-block;
    vertical-align: top;
    margin: 0px 10px;
    padding: 0px;
    height: 30px;
    width: 280px;
    border-radius: 0px;
    border: none;
    outline: none;
}
.common-input .common-btn{
	display: inline-block;
    vertical-align: top;
    margin: 0px;
    margin-left: -4px;
    border-radius: 0px;
    border: none;
    width: 30px;
    height: 30px;
    outline: none;
}
.common-clear-date,.common-clear-date:link {
	display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    margin-left: 5px;
    color: #4fb1e2;
    text-decoration: none;
}
.common-clear-date:hover {
	color: #82bedc;
}
.common-tools {
    padding: 10px 20px;
    text-align: right;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
.common-tools botton {
	margin-left: 15px;
}
.common-div {
	padding: 10px 0px;
}
.common-row {
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid rgba(200,200,200,0.65);
}
.common-row-left {
	display: inline-block;
	vertical-align: top;
	width: 125px;
}
.common-image {
	margin: 10px;
	width: 100px;
	height: 100px;
	background-color: #999;
	cursor: zoom-in;
}
.common-image-no {
	cursor: not-allowed;
}
.common-image img {
	max-width: 100%;
	max-height: 100%;
}
.common-image .no-image {
	text-align: center;
	padding-top: 36%;
}
.common-row-right {
	display: inline-block;
	vertical-align: top;
}
.common-row-header {
	margin-bottom: 10px;
	line-height: 35px;
	font-size: 18px;
	color: #fff;
}
.common-row-header .common-row-index {
	display: inline-block;
	vertical-align: middle;
	min-width: 12px;
}
.common-row-header .common-row-name {
	display: inline-block;
	vertical-align: middle;
	max-width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.common-row-tools {
	position: absolute;
    right: 15px;
    font-size: 14px;
}
.common-row-tools a {
	margin-right: 5px;
}
.common-row-row {
	margin-left: 20px;
}
.common-row-box {
	display: inline-block;
    vertical-align: top;
	margin-right: 10px;
	margin-bottom: 5px;
}
.common-row-box .common-label {
	cursor: default;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    line-height: 25px;
    min-width: 70px;
    text-align: right;
    color: #eee;
}
.common-row-box .common-value {
	display: inline-block;
    vertical-align: top;
    max-width: 200px;
    line-height: 25px;
    color: #497aff;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.common-table {
	width: 100%;
	background-color: rgba(0,0,0,0.25);
	box-shadow: 0 0 3px rgba(255,255,255,0.55);
}
.common-table-header {
	background-color: rgba(175, 175, 175, 0.6);
}
.common-table-header th {
	color: #fff;
	text-align: left;
	padding: 10px 15px;
	font-size: 16px;
}
.common-table-content {
	
}
.common-table-row {
	border-top: 1px solid rgba(255,255,255,0.35);
}
.common-table-row td {
	color: #fff;
	padding: 8px 15px;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.common-save-row {
	margin: 10px 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}
.common-save-label {
	display: inline-block;
	vertical-align: top;
	padding: 0px 10px;
	line-height: 30px;
	text-align: right;
	min-width: 70px;
}
.common-save-value {
	display: inline-block;
	vertical-align: top;
	width: 80%;
	line-height: 30px;
}
.common-save-value .radio {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.common-save-value .need-tab {
	margin: 0px 5px;
    color: red;
    font-size: 16px;
}
.common-save-input {
	width: 253px;
    height: 25px!important;
    margin: 0px!important;
    vertical-align: top;
}
.common-save-select {
	width: 265px;
    margin: 0px!important;
}
.common-save-textarea {
	width: 90%;
	height: 220px;
}
.common-save-right {
	margin-bottom: 12px;
    border: 1px solid rgba(255,255,255,0.6);
}
.common-save-right .header {
	color: #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;
    padding-left: 6px;
}
.common-save-right .content {
	padding-left: 6px;
}
.common-save-right .content .checkbox {
	display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
.common-save-bottom {
	text-align: right;
    padding-right: 20px;
}

.common-pager {
	position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0.6;
}
.common-pager:hover {
	opacity: 1;
}

