<div class="client-top">
	<!-- PC端顶部栏start -->
	<div class="ct-top-fixed">
		<div class="ct-top-left">
			<span>欢迎来到&nbsp;{{systemName|showBlankValue}}！</span>
			<div class="ct-top-item" data-ng-show="!userInfo">
				<span class="link" data-ng-click="openLoginPanel('login');">请登录</span>/
				<span class="link" data-ng-click="openLoginPanel('register');">注册</span>
			</div>
			<div class="ct-top-item" data-ng-show="userInfo">
				<span class="link" data-ng-click="openMyPanel()">{{userInfo.name}}</span>/
				<span class="link" data-ng-click="logout()">退出</span>
			</div>
			<div class="ct-top-item" data-ng-show="userInfo && tableName=='tb_product'">
				<span class="link" data-ng-click=""><i class="fa fa-shopping-cart"></i>&nbsp;购物车</span>
			</div>
			<div class="ct-top-item" data-ng-show="userInfo">
				<span class="link" data-ng-click=""><i class="fa fa-star"></i>&nbsp;收藏夹</span>
			</div>
			<div class="ct-top-item" data-ng-show="userInfo">
				<span class="link" data-ng-click=""><i class="fa fa-clock-o"></i>&nbsp;浏览记录</span>
			</div>
		</div>
		<div class="ct-top-right">
			<div class="ct-top-item ct-wechat">
				<span class="link">微信公众号</span>
				<div class="ct-wechat-img">
					<img alt="暂无图片" data-ng-src="{{wechatPic}}">
				</div>
			</div>
			<span class="link" data-ng-click="toPage('/home/server-index')">商家中心</span>
		</div>
	</div>
	<!-- PC端顶部栏end -->
	
	<!-- 手机版底部栏start -->
	<div class="ct-bottom-fixed">
	
		<!-- 分类面板start -->
		<div class="ct-panel ct-type" data-ng-show="currentNav=='type'">
			<ul>
				<li>
					<i class="fa fa-list-ul"></i>&nbsp;&nbsp;{{tableName | getTypeName}}
					<span data-ng-click="clickNav('index')"><i class="fa fa-close"></i></span>
				</li>
				<li data-ng-show="type.typetList && type.typetList.length>0" data-ng-repeat="type in typeList">
					<div class="ct-type-header">
						<h3>{{type.name | showBlankValue}}</h3>
					</div>
					<div class="ct-type-two">
						<a data-ng-class="{'active': item.id==selectedType.id}" href="javascript:void(0)" data-ng-repeat="item in type.typetList" data-ng-click="toSearchPage(item)">{{item.name | showBlankValue}}</a>
					</div>
				</li>
			</ul>
		</div>
		<!-- 分类面板end -->
	
		<div class="ct-bottom-item" data-ng-class="{'active': currentNav=='index'}" data-ng-click="clickNav('index')">
			<i class="fa fa-home"></i>
			<p>首页</p>
		</div>
		<div class="ct-bottom-item" data-ng-class="{'active': currentNav=='type'}" data-ng-click="clickNav('type')" data-ng-show="tableName=='tb_shop'">
			<i class="fa fa-th-large"></i>
			<p>分类</p>
		</div>
		<div class="ct-bottom-item" data-ng-class="{'active': currentNav=='cart'}" data-ng-click="clickNav('cart')" data-ng-show="tableName=='tb_product'">
			<i class="fa fa-shopping-cart"></i>
			<p>购物车</p>
		</div>
		<div class="ct-bottom-item" data-ng-mouseover="mouseNav('more',true)" data-ng-mouseleave="mouseNav('more',false)"
			data-ng-class="{'active': currentNav.indexOf('more')>-1}">
			<i class="fa fa-compass"></i>
			<p>更多</p>
			<ul class="ct-bottom-item-two">
				<li>
					<a href="javascript:void(0)"><i class="fa fa-star"></i>&nbsp;收藏夹</a>
				</li>
				<li>
					<a href="javascript:void(0)"><i class="fa fa-clock-o"></i>&nbsp;浏览记录</a>
				</li>
				<li>
					<a href="javascript:void(0)"><i class="fa fa-edit"></i>&nbsp;评价</a>
				</li>
			</ul>
		</div>
		<div class="ct-bottom-item" data-ng-class="{'active': currentNav=='me'}" data-ng-click="openMyPanel()">
			<i class="fa fa-user"></i>
			<p>我的</p>
		</div>
	</div>
	<!-- 手机版底部栏end -->
	
	<!-- 侧边客服start -->
	<div class="ct-right-fixed" data-ng-show="shopInfo">
		<div class="ct-fixed-item ct-fixed-phone" data-ng-mouseover="mouseService(true)" data-ng-mouseleave="mouseService(false)">
			<i class="fa fa-wechat ct-service"></i>
			<p>客服</p>
			<div class="ct-phone">
				<div class="ct-phone-container">
					<div class="ct-phone-item">
						<h4>{{shopInfo.name}}</h4>
						<p>店长&nbsp;&nbsp;&nbsp;&nbsp;{{shopInfo.shopKeeper.name}}</p>
					</div>
					<div class="ct-phone-item">
						<h4>店铺客服</h4>
						<div class="ct-phone-row" data-ng-repeat="item in shopInfo.serviceUserList">
							<p class="ct-phone-row-head" data-ng-click="toggleServiceUser(item)">
								<label>客服{{$index+1}}</label>
								<span>{{item.name}}</span>
								<span class="dowm-up"><i class="fa" data-ng-class="{'fa-chevron-down': !item.isOpen, 'fa-chevron-up': item.isOpen}"></i></span>
							</p>
							<div data-ng-show="item.isOpen">
								<p data-ng-show="item.wechat && item.wechat!=''">
									<label>微信号</label>
									<span>{{item.wechat}}</span>
								</p>
								<p data-ng-show="item.telephone && item.telephone!=''">
									<label>手机号</label>
									<a href="tel:{{item.telephone}}" target="_blank"><i class="fa fa-phone"></i>{{item.telephone}}</a>
								</p>
								<p data-ng-show="item.qq && item.qq!=''">
									<label>Q&nbsp;&nbsp;&nbsp;&nbsp;Q</label>
									<a href="http://wpa.qq.com/msgrd?v=3&uin={{item.qq}}&site=qq&menu=yes" target="_blank"><i class="fa fa-qq"></i>{{item.qq}}</a>
								</p>
							</div>
						</div>
					</div>
					<div class="ct-phone-item">
						<h4>联系方式</h4>
						<p>
							<label>手机号</label>
							<span>{{shopInfo.phone}}</span>
						</p>
						<p data-ng-show="shopInfo.wechatPathList && shopInfo.wechatPathList.length>0">
							<label>公众号</label>
							<img alt="" data-ng-src="{{shopInfo.wechatPathList|getImgByImgList}}">
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 侧边客服end -->
	
	<!-- 注册登陆模态框 start -->
	<div class="modal fade" id="loginWinId" tabindex="-1" role="dialog" aria-labelledby="loginWinLabel">
		<div class="modal-dialog login-model-dialog">
			<div class="modal-content login-model-content">
				<div class="modal-header client-model-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{{getLoginHeader(loginNav)}}</h4>
				</div>
				<div class="modal-body">
					
					<!-- 登录面板start -->
					<form class="login-panel" data-ng-submit="login()" data-ng-show="loginNav=='login'">
						<div class="login-top">
							<span data-ng-show="errorMsg && errorMsg.length>0"><i class="fa fa-times-circle"></i>&nbsp;{{errorMsg}}</span>
						</div>
						<div class="login-row">
							<div class="input-group">
								<div class="login-label">
									<i class="fa fa-user"></i>
								</div>
								<input class="form-control" type="text" placeholder="输入用户名" data-ng-model="loginObj.userId">
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<div class="login-label">
									<i class="fa fa-lock"></i>
								</div>
								<input class="form-control" type="password" placeholder="输入密码" data-ng-model="loginObj.userPwd">
							</div>
						</div>
						<div class="login-row">
							<button type="submit" class="btn login-btn">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
						</div>
						<div class="login-row">
							<div class="input-group">
								<small class="pull-right">
									<a href="javascript:void(0)" data-ng-click="triggerLoginPanel('register')">免费注册</a>
									<a href="javascript:void(0)">忘记密码</a>
								</small>
							</div>
						</div>
					</form>
					<!-- 登录面板end -->
					
					<!-- 注册面板start -->
					<div class="register-panel" data-ng-show="loginNav=='register'">
						<div class="login-top">
							<a href="javascript:void(0)" data-ng-click="triggerLoginPanel('login')"><i class="fa fa-chevron-left"></i>&nbsp;返回登录</a>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="用户名" data-ng-model="registerObj.userId">
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="password" placeholder="设置密码" data-ng-model="registerObj.password">
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="password" placeholder="确认密码" data-ng-model="registerObj.passwordSure">
							</div>
						</div>
						
						<div class="login-row">
							<button type="button" class="btn login-btn">注&nbsp;&nbsp;&nbsp;&nbsp;册</button>
						</div>
					</div>
					<!-- 注册面板end -->
				</div>
			</div>
		</div>
	</div>
	<!-- 注册登陆模态框 end -->
	
	<!-- 用户信息模态框 start -->
	<div class="modal fade" id="userWinId" tabindex="-1" role="dialog" aria-labelledby="userWinLabel">
		<div class="modal-dialog login-model-dialog">
			<div class="modal-content login-model-content">
				<div class="modal-header client-model-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{{getUserHeader(userNav)}}</h4>
				</div>
				<div class="modal-body">
					<!-- 用户信息面板start -->
					<form class="user-panel" data-ng-submit="saveUserInfo()" data-ng-show="userNav=='user'">
						<div class="login-top" data-ng-show="isEditUser">
							<a href="javascript:void(0)" data-ng-click="triggerUserPanel('user', false)"><i class="fa fa-chevron-left"></i>&nbsp;返回</a>
						</div>
						<div class="login-row">
							<div class="input-group">
								<div class="user-label">用户名</div>
								<div class="user-value">{{userInfo.id}}</div>
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<div class="user-label">用户名字</div>
								<div class="user-value" data-ng-show="!isEditUser">{{userInfo.name}}</div>
								<input class="form-control" type="text" placeholder="输入用户名字" required="required" data-ng-show="isEditUser" data-ng-model="userInfo.name">
							</div>
						</div>
						<div class="login-row" data-ng-show="userInfo.wechat && userInfo.wechat.length>0">
							<div class="input-group">
								<div class="user-label">微信号</div>
								<div class="user-value">{{userInfo.wechat}}</div>
							</div>
						</div>
						<div class="login-row" data-ng-show="userInfo.qq && userInfo.qq.length>0">
							<div class="input-group">
								<div class="user-label">QQ号</div>
								<div class="user-value">{{userInfo.qq}}</div>
							</div>
						</div>
						<div class="login-row" data-ng-show="userInfo.telephone && userInfo.telephone.length>0">
							<div class="input-group">
								<div class="user-label">手机号</div>
								<div class="user-value">{{userInfo.telephone}}</div>
							</div>
						</div>
						<div class="login-row" data-ng-show="isEditUser">
							<button type="submit" class="btn login-btn">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
						</div>
						<div class="login-row" data-ng-show="!isEditUser">
							<div class="input-group">
								<small class="pull-right">
									<a href="javascript:void(0)" data-ng-click="triggerUserPanel('user', true)">修改个人信息</a>
									<a href="javascript:void(0)" data-ng-click="triggerUserPanel('password', false)">修改密码</a>
									<a href="javascript:void(0)" data-ng-click="logout()">退出登录</a>
								</small>
							</div>
						</div>
						<div class="login-top">
							<span data-ng-show="errorMsg && errorMsg.length>0"><i class="fa fa-times-circle"></i>&nbsp;{{errorMsg}}</span>
						</div>
					</form>
					<!-- 用户信息面板end -->
					
					<!-- 密码面板start -->
					<form class="password-panel" data-ng-submit="savePassword()" data-ng-show="userNav=='password'">
						<div class="login-top">
							<a href="javascript:void(0)" data-ng-click="triggerUserPanel('user', false)"><i class="fa fa-chevron-left"></i>&nbsp;返回</a>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="password" placeholder="输入旧密码" required="required" data-ng-model="password.oldPasswd">
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="password" placeholder="设置新密码" required="required" data-ng-model="password.newPasswd">
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="password" placeholder="确认新密码" required="required" data-ng-model="password.confirmPasswd">
							</div>
						</div>
						<div class="login-row">
							<button type="submit" class="btn login-btn">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
						</div>
						<div class="login-top">
							<span data-ng-show="errorMsg && errorMsg.length>0"><i class="fa fa-times-circle"></i>&nbsp;{{errorMsg}}</span>
						</div>
					</form>
					<!-- 密码面板end -->
				</div>
			</div>
		</div>
	</div>
	<!-- 用户信息模态框 end -->
	
</div>

