<div id="clientTopId" class="client-top">
	<!-- PC端顶部栏start -->
	<div class="ct-top-fixed">
		<div class="ct-top-left">
			<span>欢迎来到&nbsp;{{systemName|showBlankValue}}！</span>
			<div class="ct-top-item" data-ng-show="!userInfo">
				<span class="link" data-ng-click="openLoginPanel('login');">请登录</span>/
				<span class="link" data-ng-click="openLoginPanel('register');">注册</span>
			</div>
			<div class="ct-top-item" data-ng-show="userInfo">
				<span class="link" data-ng-click="openMyPanel()">{{userInfo.name}}</span>/
				<span class="link" data-ng-click="logout()">退出</span>
			</div>
			<div class="ct-top-item" data-ng-show="userInfo && tableName=='tb_product'">
				<span class="link" data-ng-click="openCartPanel()">
					<i class="fa fa-shopping-cart"></i>&nbsp;购物车
					<em class="little-count my-hidden" data-ng-class="{'my-show':cartList && cartList.length>0}">{{cartList | getCartAllCount}}</em>
				</span>
			</div>
			<div class="ct-top-item" data-ng-show="userInfo">
				<span class="link" data-ng-click="openCollectPanel()"><i class="fa fa-star"></i>&nbsp;我的收藏</span>
			</div>
			<div class="ct-top-item" data-ng-show="userInfo">
				<span class="link" data-ng-click="openHistoryPanel()"><i class="fa fa-history"></i>&nbsp;我的足迹</span>
			</div>
		</div>
		<div class="ct-top-right">
			<div class="ct-top-item ct-wechat">
				<span class="link">微信公众号</span>
				<div class="ct-wechat-img">
					<img alt="暂无图片" data-ng-src="{{wechatPic}}">
				</div>
			</div>
			<span class="link" data-ng-click="openShopRegisterPanel()">店铺申请</span>
			<span class="link" data-ng-click="toPage('/home/server-index')">商家中心</span>
		</div>
	</div>
	<!-- PC端顶部栏end -->
	
	<!-- 手机版底部栏start -->
	<div class="ct-bottom-fixed">
	
		<!-- 分类面板start -->
		<div class="ct-panel ct-type" data-ng-show="currentNav=='type'">
			<ul>
				<li>
					<i class="fa fa-list-ul"></i>&nbsp;&nbsp;{{tableName | getTypeName}}
					<span data-ng-click="clickNav('index')"><i class="fa fa-close"></i></span>
				</li>
				<li data-ng-show="type.typetList && type.typetList.length>0" data-ng-repeat="type in typeList">
					<div class="ct-type-header">
						<h3>{{type.name | showBlankValue}}</h3>
					</div>
					<div class="ct-type-two">
						<a data-ng-class="{'active': item.id==selectedType.id}" href="javascript:void(0)" data-ng-repeat="item in type.typetList" data-ng-click="toSearchPage(item)">{{item.name | showBlankValue}}</a>
					</div>
				</li>
			</ul>
		</div>
		<!-- 分类面板end -->
	
		<div class="ct-bottom-item" data-ng-class="{'active': currentNav=='index'}" data-ng-click="clickNav('index')">
			<i class="fa fa-home"></i>
			<p>首页</p>
		</div>
		<div class="ct-bottom-item" data-ng-class="{'active': currentNav=='type'}" data-ng-click="clickNav('type')" data-ng-show="tableName=='tb_shop'">
			<i class="fa fa-th-large"></i>
			<p>分类</p>
		</div>
		<div id="bottomCartId" class="ct-bottom-item ct-bottom-cart" data-ng-class="{'active': currentNav=='cart'}" data-ng-click="openCartPanel()" data-ng-show="tableName=='tb_product'">
			<i class="fa fa-shopping-cart"><em class="little-count my-hidden" data-ng-class="{'my-show':cartList && cartList.length>0}">{{cartList | getCartAllCount}}</em></i>
			<p>购物车</p>
		</div>
		<div class="ct-bottom-item" data-ng-mouseover="mouseNav('more',true)" data-ng-mouseleave="mouseNav('more',false)"
			data-ng-class="{'active': currentNav.indexOf('more')>-1}">
			<i class="fa fa-compass"></i>
			<p>更多</p>
			<ul class="ct-bottom-item-two">
				<li>
					<a href="javascript:void(0)" data-ng-click="openCollectPanel()"><i class="fa fa-star"></i>&nbsp;我的收藏</a>
				</li>
				<li>
					<a href="javascript:void(0)" data-ng-click="openHistoryPanel()"><i class="fa fa-history"></i>&nbsp;我的足迹</a>
				</li>
				<li>
					<a href="javascript:void(0)" data-ng-show="shopInfo" data-ng-click="openEvaluatePanel()"><i class="fa fa-edit"></i>&nbsp;我要评价</a>
				</li>
				<li>
					<a href="javascript:void(0)" data-ng-click="openFeedbackPanel()"><i class="fa fa-envelope"></i>&nbsp;反馈信息</a>
				</li>
			</ul>
		</div>
		<div class="ct-bottom-item" data-ng-class="{'active': currentNav=='me'}" data-ng-click="openMyPanel()">
			<i class="fa fa-user"></i>
			<p>我的</p>
		</div>
	</div>
	<!-- 手机版底部栏end -->
	
	<!-- 侧边客服start -->
	<div class="ct-right-fixed">
		<div class="ct-fixed-item ct-fixed-phone" data-ng-show="shopInfo" data-ng-mouseover="mouseService(true)" data-ng-mouseleave="mouseService(false)">
			<i class="fa fa-wechat ct-service"></i>
			<p>客服</p>
			<div class="ct-phone">
				<div class="ct-phone-container">
					<div class="ct-phone-item">
						<h4>{{shopInfo.name}}</h4>
						<p>店长&nbsp;&nbsp;&nbsp;&nbsp;{{shopInfo.shopKeeper.name}}</p>
					</div>
					<div class="ct-phone-item">
						<h4>店铺客服</h4>
						<div class="ct-phone-row" data-ng-repeat="item in shopInfo.serviceUserList">
							<p class="ct-phone-row-head" data-ng-click="toggleServiceUser(item)">
								<label>客服{{$index+1}}</label>
								<span>{{item.name}}</span>
								<span class="dowm-up"><i class="fa" data-ng-class="{'fa-chevron-down': !item.isOpen, 'fa-chevron-up': item.isOpen}"></i></span>
							</p>
							<div data-ng-show="item.isOpen">
								<p data-ng-show="item.wechat && item.wechat!=''">
									<label>微信号</label>
									<span>{{item.wechat}}</span>
								</p>
								<p data-ng-show="item.telephone && item.telephone!=''">
									<label>手机号</label>
									<a href="tel:{{item.telephone}}" target="_blank"><i class="fa fa-phone"></i>{{item.telephone}}</a>
								</p>
								<p data-ng-show="item.qq && item.qq!=''">
									<label>Q&nbsp;&nbsp;&nbsp;&nbsp;Q</label>
									<a href="http://wpa.qq.com/msgrd?v=3&uin={{item.qq}}&site=qq&menu=yes" target="_blank"><i class="fa fa-qq"></i>{{item.qq}}</a>
								</p>
							</div>
						</div>
					</div>
					<div class="ct-phone-item">
						<h4>联系方式</h4>
						<p>
							<label>手机号</label>
							<span>{{shopInfo.phone}}</span>
						</p>
						<p data-ng-show="shopInfo.wechatPathList && shopInfo.wechatPathList.length>0">
							<label>公众号</label>
							<img alt="" data-ng-src="{{shopInfo.wechatPathList|getImgByImgList}}">
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="ct-fixed-item ct-fixed-phone shop-only-pc" data-ng-show="shopInfo" data-ng-click="openEvaluatePanel()">
			<i class="fa fa-edit ct-evaluate"></i>
			<p>评价</p>
		</div>
		<div class="ct-fixed-item ct-fixed-phone shop-only-pc" data-ng-click="openFeedbackPanel()">
			<i class="fa fa-envelope ct-feedback"></i>
			<p>反馈</p>
		</div>
	</div>
	<!-- 侧边客服end -->
	
	<!-- 注册登陆模态框 start -->
	<div class="modal fade" id="loginWinId" tabindex="-1" role="dialog" aria-labelledby="loginWinLabel">
		<div class="modal-dialog login-model-dialog">
			<div class="modal-content login-model-content">
				<div class="modal-header client-model-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{{getLoginHeader(loginNav)}}</h4>
				</div>
				<div class="modal-body">
					
					<!-- 登录面板start -->
					<form class="login-panel" data-ng-submit="login()" data-ng-show="loginNav=='login'">
						<div class="login-top">
							<span data-ng-show="errorMsg && errorMsg.length>0"><i class="fa fa-times-circle"></i>&nbsp;{{errorMsg}}</span>
						</div>
						<div class="login-row">
							<div class="input-group">
								<div class="login-label">
									<i class="fa fa-user"></i>
								</div>
								<input class="form-control" type="text" placeholder="输入用户名" data-ng-model="loginObj.userId">
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<div class="login-label">
									<i class="fa fa-lock"></i>
								</div>
								<input class="form-control" type="password" placeholder="输入密码" data-ng-model="loginObj.userPwd">
							</div>
						</div>
						<div class="login-row">
							<button type="submit" class="btn login-btn">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
						</div>
						<div class="login-row">
							<div class="input-group">
								<small class="pull-right">
									<a href="javascript:void(0)" data-ng-click="triggerLoginPanel('register')">免费注册</a>
									<a href="javascript:void(0)">忘记密码</a>
								</small>
							</div>
						</div>
					</form>
					<!-- 登录面板end -->
					
					<!-- 注册面板start -->
					<div class="register-panel" data-ng-show="loginNav=='register'">
						<div class="login-top">
							<a href="javascript:void(0)" data-ng-click="triggerLoginPanel('login')"><i class="fa fa-chevron-left"></i>&nbsp;返回登录</a>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="用户名" data-ng-model="registerObj.userId">
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="password" placeholder="设置密码" data-ng-model="registerObj.password">
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="password" placeholder="确认密码" data-ng-model="registerObj.passwordSure">
							</div>
						</div>
						
						<div class="login-row">
							<button type="button" class="btn login-btn">注&nbsp;&nbsp;&nbsp;&nbsp;册</button>
						</div>
					</div>
					<!-- 注册面板end -->
				</div>
			</div>
		</div>
	</div>
	<!-- 注册登陆模态框 end -->
	
	<!-- 用户信息模态框 start -->
	<div class="modal fade" id="userWinId" tabindex="-1" role="dialog" aria-labelledby="userWinLabel">
		<div class="modal-dialog login-model-dialog">
			<div class="modal-content login-model-content">
				<div class="modal-header client-model-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{{getUserHeader(userNav)}}</h4>
				</div>
				<div class="modal-body">
					<!-- 用户信息面板start -->
					<form class="user-panel" data-ng-submit="saveUserInfo()" data-ng-show="userNav=='user'">
						<div class="login-top" data-ng-show="isEditUser">
							<a href="javascript:void(0)" data-ng-click="triggerUserPanel('user', false)"><i class="fa fa-chevron-left"></i>&nbsp;返回</a>
						</div>
						<div class="login-row">
							<div class="input-group">
								<div class="user-label">用户名</div>
								<div class="user-value">{{userInfo.id}}</div>
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<div class="user-label">用户名字</div>
								<div class="user-value" data-ng-show="!isEditUser">{{userInfo.name}}</div>
								<input class="form-control" type="text" placeholder="输入用户名字" required="required" data-ng-show="isEditUser" data-ng-model="userInfo.name">
							</div>
						</div>
						<div class="login-row" data-ng-show="userInfo.wechat && userInfo.wechat.length>0">
							<div class="input-group">
								<div class="user-label">微信号</div>
								<div class="user-value">{{userInfo.wechat}}</div>
							</div>
						</div>
						<div class="login-row" data-ng-show="userInfo.qq && userInfo.qq.length>0">
							<div class="input-group">
								<div class="user-label">QQ号</div>
								<div class="user-value">{{userInfo.qq}}</div>
							</div>
						</div>
						<div class="login-row" data-ng-show="userInfo.telephone && userInfo.telephone.length>0">
							<div class="input-group">
								<div class="user-label">手机号</div>
								<div class="user-value">{{userInfo.telephone}}</div>
							</div>
						</div>
						<div class="login-row" data-ng-show="isEditUser">
							<button type="submit" class="btn login-btn">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
						</div>
						<div class="login-row" data-ng-show="!isEditUser">
							<div class="input-group">
								<small class="pull-right">
									<a href="javascript:localStorage.clear();location.reload();">清空缓存</a>
									<a href="javascript:void(0)" data-ng-click="triggerUserPanel('user', true)" data-ng-show="!isWechat">修改个人信息</a>
									<a href="javascript:void(0)" data-ng-click="triggerUserPanel('password', false)">修改密码</a>
									<a href="javascript:void(0)" data-ng-click="logout()" data-ng-show="!isWechat">退出登录</a>
								</small>
							</div>
						</div>
						<div class="login-top">
							<span data-ng-show="errorMsg && errorMsg.length>0"><i class="fa fa-times-circle"></i>&nbsp;{{errorMsg}}</span>
						</div>
					</form>
					<!-- 用户信息面板end -->
					
					<!-- 密码面板start -->
					<form class="password-panel" data-ng-submit="savePassword()" data-ng-show="userNav=='password'">
						<div class="login-top">
							<a href="javascript:void(0)" data-ng-click="triggerUserPanel('user', false)"><i class="fa fa-chevron-left"></i>&nbsp;返回</a>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="password" placeholder="输入旧密码" required="required" data-ng-model="password.oldPasswd">
							</div>
							<div class="input-group">
								<div class="common-tip">默认初始密码：{{defaultPasswd}}</div>
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="password" placeholder="设置新密码" required="required" data-ng-model="password.newPasswd">
							</div>
						</div>
						<div class="login-row">
							<div class="input-group">
								<input class="form-control" type="password" placeholder="确认新密码" required="required" data-ng-model="password.confirmPasswd">
							</div>
						</div>
						<div class="login-row">
							<button type="submit" class="btn login-btn">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
						</div>
						<div class="login-top">
							<span data-ng-show="errorMsg && errorMsg.length>0"><i class="fa fa-times-circle"></i>&nbsp;{{errorMsg}}</span>
						</div>
					</form>
					<!-- 密码面板end -->
				</div>
			</div>
		</div>
	</div>
	<!-- 用户信息模态框 end -->
	
	<!-- 收藏夹模态框 start -->
	<div class="modal fade" id="collectWinId" tabindex="-1" role="dialog" aria-labelledby="collectWinLabel">
		<div class="modal-dialog login-model-dialog">
			<div class="modal-content login-model-content">
				<div class="modal-header client-model-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">我的收藏</h4>
				</div>
				<div class="modal-body">
					<div class="collect-title">
						<a href="javascript:void(0)" data-ng-class="{'active': collectNav=='shop'}" data-ng-click="triggerCollectPanel('shop')">店铺</a>
						<a href="javascript:void(0)" data-ng-class="{'active': collectNav=='product'}" data-ng-click="triggerCollectPanel('product')">商品</a>
					</div>
				
					<!-- 店铺面板start -->
					<div class="collect-panel" data-ng-show="collectNav=='shop'">
						<ul data-ng-show="collectShopPager.list && collectShopPager.list.length>0">
							<li data-ng-repeat="item in collectShopPager.list" data-ng-click="toPage(item.href, true)">
								<div class="collect-img" style="background-image: url({{item.shop.logoPathList|getImgByImgList}})"></div>
			  					<div class="collect-con">
			  						<h3>
			  							<a href="javascript:void(0)" data-ng-click="deleteCollect(item, 'tb_shop', $event)">取消收藏</a>
			  						</h3>
			  						<a title="{{item.shop.name | showBlankValue}}" href="javascript:void(0)">{{item.shop.name | showBlankValue}}</a>
			  						<p title="{{item.shop.brief | showBlankValue}}">{{item.shop.brief | showBlankValue}}</p>
			  					</div>
							</li>
						</ul>
						<loading-panel data-ng-show="isLoadingCollectedShop" font-size="18"></loading-panel>
						<nodata-panel data-ng-show="!isLoadingCollectedShop && collectShopPager.list.length==0" font-size="18"></nodata-panel>
						<common-pager class="common-pager" page-count="{{collectShopPager.pageCount}}" current-page="collectShopPager.pageNo" 
								total-rows="collectShopPager.totalCount" to-page-call-back="pagedShopCollect(pageNo)"></common-pager>
					</div>
					<!-- 店铺面板end -->
					
					<!-- 商品面板start -->
					<div class="collect-panel" data-ng-show="collectNav=='product'">
						<ul data-ng-show="collectProductPager.list && collectProductPager.list.length>0">
							<li data-ng-repeat="item in collectProductPager.list" data-ng-click="toPage(item.href, true)">
								<div class="collect-img" style="background-image: url({{item.product.picPathList|getImgByImgList}})"></div>
			  					<div class="collect-con">
			  						<h3 title="{{item.product.price}}元">
			  							<i class="fa fa-rmb"></i>&nbsp;{{item.product.price}}
			  							<a href="javascript:void(0)" data-ng-click="deleteCollect(item, 'tb_product', $event)">取消收藏</a>
			  						</h3>
			  						<a title="{{item.product.name | showBlankValue}}" href="javascript:void(0)">{{item.product.name | showBlankValue}}</a>
			  						<p title="{{item.product.brief | showBlankValue}}">{{item.product.brief | showBlankValue}}</p>
			  					</div>
							</li>
						</ul>
						<loading-panel data-ng-show="isLoadingCollectedProduct" font-size="18"></loading-panel>
						<nodata-panel data-ng-show="!isLoadingCollectedProduct && collectProductPager.list.length==0" font-size="18"></nodata-panel>
						<common-pager class="common-pager" page-count="{{collectProductPager.pageCount}}" current-page="collectProductPager.pageNo" 
								total-rows="collectProductPager.totalCount" to-page-call-back="pagedProductCollect(pageNo)"></common-pager>
					</div>
					<!-- 商品面板end -->
				</div>
			</div>
		</div>
	</div>
	<!-- 收藏夹模态框 end -->
	
	<!-- 历史记录模态框 start -->
	<div class="modal fade" id="historyWinId" tabindex="-1" role="dialog" aria-labelledby="historyWinLabel">
		<div class="modal-dialog login-model-dialog">
			<div class="modal-content login-model-content">
				<div class="modal-header client-model-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">我的足迹</h4>
				</div>
				<div class="modal-body">
					<div class="collect-title">
						<a href="javascript:void(0)" data-ng-class="{'active': historyNav=='shop'}" data-ng-click="triggerHistoryPanel('shop')">店铺</a>
						<a href="javascript:void(0)" data-ng-class="{'active': historyNav=='product'}" data-ng-click="triggerHistoryPanel('product')">商品</a>
					</div>
				
					<!-- 店铺面板start -->
					<div class="collect-panel" data-ng-show="historyNav=='shop'">
						<ul data-ng-show="hisShopList && hisShopList.length>0">
							<li data-ng-repeat="item in hisShopList" data-ng-click="toPage(item.href, true)">
								<div class="collect-img" style="background-image: url({{item.shop.logoPathList|getImgByImgList}})"></div>
			  					<div class="collect-con">
			  						<a title="{{item.shop.name | showBlankValue}}" href="javascript:void(0)">{{item.shop.name | showBlankValue}}</a>
			  						<p title="{{item.shop.brief | showBlankValue}}">{{item.shop.brief | showBlankValue}}</p>
			  					</div>
							</li>
						</ul>
						<loading-panel data-ng-show="isLoadingHisShop" font-size="18"></loading-panel>
						<nodata-panel data-ng-show="!isLoadingHisShop && hisShopList.length==0" font-size="18"></nodata-panel>
						<common-pager class="common-pager" page-count="{{hisShopCondition.pageCount}}" current-page="hisShopCondition.pageNo" 
								total-rows="hisShopCondition.totalCount" to-page-call-back="pagedHisShopList(pageNo)"></common-pager>
					</div>
					<!-- 店铺面板end -->
					
					<!-- 商品面板start -->
					<div class="collect-panel" data-ng-show="historyNav=='product'">
						<ul data-ng-show="hisProList && hisProList.length>0">
							<li data-ng-repeat="item in hisProList" data-ng-click="toPage(item.href, true)">
								<div class="collect-img" style="background-image: url({{item.product.picPathList|getImgByImgList}})"></div>
			  					<div class="collect-con">
			  						<h3 title="{{item.product.price}}元">
			  							<i class="fa fa-rmb"></i>&nbsp;{{item.product.price}}
			  						</h3>
			  						<a title="{{item.product.name | showBlankValue}}" href="javascript:void(0)">{{item.product.name | showBlankValue}}</a>
			  						<p title="{{item.product.brief | showBlankValue}}">{{item.product.brief | showBlankValue}}</p>
			  					</div>
							</li>
						</ul>
						<loading-panel data-ng-show="isLoadingHisProduct" font-size="18"></loading-panel>
						<nodata-panel data-ng-show="!isLoadingHisProduct && hisProList.length==0" font-size="18"></nodata-panel>
						<common-pager class="common-pager" page-count="{{hisProCondition.pageCount}}" current-page="hisProCondition.pageNo" 
								total-rows="hisProCondition.totalCount" to-page-call-back="pagedHisProList(pageNo)"></common-pager>
					</div>
					<!-- 商品面板end -->
				</div>
			</div>
		</div>
	</div>
	<!-- 历史记录模态框 end -->
	
	<!-- 用户评价模态框 start -->
	<div class="modal fade" id="evaluateWinId" tabindex="-1" role="dialog" aria-labelledby="evaluateWinLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header client-model-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">我要评价</h4>
				</div>
				<div class="modal-body">
					<form data-ng-submit="addShopEvaluate()">
						<div class="eval-content">
							<div class="eval-row">
								<label class="eval-label">用户名字</label>
								<div class="eval-value">{{userInfo.name|showBlankValue}}</div>
							</div>
							<div class="eval-row">
								<label class="eval-label">评价店铺</label>
								<div class="eval-value">{{shopInfo.name|showBlankValue}}</div>
							</div>
							<div class="eval-row">
								<label class="eval-label">店铺评分</label>
								<div class="eval-value">
									<label class="radio radio-inline">
										<input type="radio" class="radiobox" value="5" data-ng-model="shopEvalAdd.mark">
										<span>5分</span>
									</label>
									<label class="radio radio-inline">
										<input type="radio" class="radiobox" value="4" data-ng-model="shopEvalAdd.mark">
										<span>4分</span>
									</label>
									<label class="radio radio-inline">
										<input type="radio" class="radiobox" value="3" data-ng-model="shopEvalAdd.mark">
										<span>3分</span>
									</label>
									<label class="radio radio-inline">
										<input type="radio" class="radiobox" value="2" data-ng-model="shopEvalAdd.mark">
										<span>2分</span>
									</label>
									<label class="radio radio-inline">
										<input type="radio" class="radiobox" value="1" data-ng-model="shopEvalAdd.mark">
										<span>1分</span>
									</label>
									<span class="need-tab">*</span>
								</div>
							</div>
							<div class="eval-row">
								<label class="eval-label">评价内容</label>
								<div class="eval-value eval-phone-value">
									<textarea class="form-control" rows="3" placeholder="评价内容" data-ng-model="shopEvalAdd.content"></textarea>
									<div class="common-tip">剩余可输入{{shopEvalAdd.content|getRemainLength:250}}字</div>
								</div>
							</div>
							<div class="eval-row">
								<label class="eval-label">图片上传</label>
								<div class="eval-value eval-phone-value">
									<image-dropzone dropzone-id="shopEvalPictureId" max-files="5" image-path-list="shopEvalAdd.picPathList"></image-dropzone>
									<div class="common-tip">上传的图片，最多5个</div>
								</div>
							</div>
						</div>
						<div class="login-row">
							<button type="submit" class="btn login-btn">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
						</div>
						<div class="login-top">
							<span data-ng-show="isLoadingAddShopEval"><i class="fa fa-spin fa-spiner"></i>&nbsp;正在提交。。。</span>
							<span data-ng-show="errorMsg && errorMsg.length>0"><i class="fa fa-times-circle"></i>&nbsp;{{errorMsg}}</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 用户评价模态框 end -->
	
	<!-- 用户反馈模态框 start -->
	<div class="modal fade" id="feedbackWinId" tabindex="-1" role="dialog" aria-labelledby="feedbackWinLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header client-model-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">用户反馈</h4>
				</div>
				<div class="modal-body">
					<form data-ng-submit="addFeedback()">
						<div class="eval-content">
							<div class="eval-row">
								<label class="eval-label">用户名字</label>
								<div class="eval-value">{{userInfo.name|showBlankValue}}</div>
							</div>
							<div class="eval-row">
								<label class="eval-label">反馈内容</label>
								<div class="eval-value eval-phone-value">
									<textarea class="form-control" rows="6" placeholder="反馈内容" data-ng-model="feedbackAdd.content"></textarea>
									<div class="common-tip">剩余可输入{{feedbackAdd.content|getRemainLength:250}}字<span class="need-tab">*</span></div>
								</div>
							</div>
						</div>
						<div class="login-row">
							<button type="submit" class="btn login-btn">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
						</div>
						<div class="login-top">
							<span data-ng-show="isLoadingAddFeedback"><i class="fa fa-spin fa-spiner"></i>&nbsp;正在提交。。。</span>
							<span data-ng-show="errorMsg && errorMsg.length>0"><i class="fa fa-times-circle"></i>&nbsp;{{errorMsg}}</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 用户反馈模态框 end -->
	
	<!-- 店铺申请模态框 start -->
	<div class="modal fade" id="shopRegisterWinId" tabindex="-1" role="dialog" aria-labelledby="shopRegisterWinLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header client-model-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">店铺申请</h4>
				</div>
				<div class="modal-body">
					<form data-ng-submit="addShopRegister()">
						<div class="eval-content">
							<div class="eval-row">
								<label class="eval-label">用户名字</label>
								<div class="eval-value">{{userInfo.name|showBlankValue}}</div>
							</div>
							<div class="eval-row">
								<label class="eval-label">店铺名称</label>
								<div class="eval-value">
									<input class="form-control" type="text" placeholder="店铺名字" required="required" data-ng-model="shopRegister.name">
									<div class="common-tip">剩余可输入{{shopRegister.name|getRemainLength:35}}字<span class="need-tab">*</span></div>
								</div>
							</div>
							<div class="eval-row">
								<label class="eval-label">店铺类型</label>
								<div class="eval-value">
									<select class="form-control" ui-select2 data-ng-model="shopRegister.shopType">
										<optgroup data-ng-repeat="typet in typeList" label="{{typet.name}}">
											<option data-ng-repeat="item in typet.typetList" value="{{item.id}}">{{item.name}}</option>
										</optgroup>
									</select>
								</div>
								<span class="need-tab">*</span>
							</div>
							<div class="eval-row">
								<label class="eval-label">联系电话</label>
								<div class="eval-value">
									<input class="form-control" type="text" placeholder="联系电话" required="required" data-ng-model="shopRegister.phone">
								</div>
								<span class="need-tab">*</span>
							</div>
							<div class="eval-row">
								<label class="eval-label">店铺地址</label>
								<div class="eval-value">
									<input class="form-control" type="text" placeholder="店铺地址" required="required" data-ng-model="shopRegister.address">
								</div>
								<span class="need-tab">*</span>
							</div>
							<div class="eval-row">
								<label class="eval-label">到期时间</label>
								<div class="eval-value">
									<input id="overTimeId" class="form-control" type="text" placeholder="到期时间" onclick="common.MydatePicker();">
								</div>
								<span class="need-tab">*</span>
							</div>
							<div class="eval-row">
								<label class="eval-label">备注信息</label>
								<div class="eval-value eval-phone-value">
									<textarea class="form-control" rows="3" placeholder="备注信息" data-ng-model="shopRegister.remark"></textarea>
									<div class="common-tip">剩余可输入{{shopRegister.remark|getRemainLength:50}}字<span class="need-tab">*</span></div>
								</div>
							</div>
						</div>
						<div class="login-row">
							<button type="submit" class="btn login-btn">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
						</div>
						<div class="login-top">
							<span data-ng-show="isLoadingShopRegister"><i class="fa fa-spin fa-spiner"></i>&nbsp;正在提交。。。</span>
							<span data-ng-show="errorMsg && errorMsg.length>0"><i class="fa fa-times-circle"></i>&nbsp;{{errorMsg}}</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 店铺申请模态框 end -->
	
	<!-- 购物车模态框 start -->
	<div class="modal fade" id="cartWinId" tabindex="-1" role="dialog" aria-labelledby="cartWinLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header client-model-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">购物车</h4>
				</div>
				<div class="modal-body">
					<table class="table table-condensed table-hover">
						<tr>
							<th>商品名称</th>
							<th>金额</th>
							<th>数量</th>
						</tr>
						<tbody data-ng-show="!isLoadingCart && cartList && cartList.length>0">
							<tr data-ng-repeat="item in cartList">
								<td>{{item.product.name}}</td>
								<td><i class="fa fa-rmb"></i>{{item.product.price * item.proNum}}</td>
								<td>
									<div class="cart-count">
		  								<label class="cart-minus" data-ng-click="editCartCount(item, -1, $event)"><i class="fa fa-minus"></i></label>
										<span>{{item.proNum}}</span>
										<label class="cart-plus" data-ng-click="editCartCount(item, 1, $event)"><i class="fa fa-plus"></i></label>
		  							</div>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="color: red">总金额：<i class="fa fa-rmb"></i>{{cartList|getCartMoney}}</td>
								<td><a href="javascript:void(0)" data-ng-click="clearCart()">清空</a></td>
							</tr>
						</tbody>
					</table>
					<loading-panel data-ng-show="isLoadingCart" font-size="18"></loading-panel>
					<nodata-panel data-ng-show="!isLoadingCart && cartList.length==0" font-size="18"></nodata-panel>
				</div>
			</div>
		</div>
	</div>
	<!-- 购物车模态框 end -->
	
</div>

