@CHARSET "UTF-8";
.ph-pc {
	display: block;
	margin-top: 35px;
	padding: 20px;
	height: 102px;
	width: 100%;
}
.ph-pc header {
    font-size: 25px;
}
.ph-pc img {
	height: 52px;
}
.ph-head-box {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	height: 60px;
    padding-top: 5px;
	padding-left: 10px;
    padding-right: 15px;
    border-right: 1px solid #ddd;
}
.ph-head-box:last-of-type {
	border-right: none;
}
.ph-head-box .name-box {
	font-size: 20px;
    line-height: 22px;
}
.ph-head-box .name-box .shop-name {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
}
.ph-head-box label {
	font-size: 12px;
    margin: 5px;
    margin-left: 0px;
    max-width: 90px;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ph-head-box label.recommend {
	width: 40px;
    line-height: 16px;
    font-size: 10px;
    -webkit-transform: scale(.83);
    background-color: #f4c985;
    border: 1px solid #e7ba77;
    border-radius: 2px;
    color: #856651;
    text-align: center;
}
.ph-head-box span {
	margin: 5px;
    font-size: 12px;
    color: #ff0000;
}

@media screen and (max-width: 760px) {
	.ph-pc {
		display: none;
	}
}

