@CHARSET "UTF-8";
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.my-flyer {
    height: 13px;
    width: 13px;
    border: none;
	border-radius: 50%;
    background: #ED1C24;
    z-index: 99;
}

.my-hidden {
	display: none;
}
.my-show {
	display: block;
}

.common-pager {
	bottom: 12px;
}

.common-singleimg {
	width: 100%!important;
}

.common-img-no img {
	cursor: not-allowed;
}

.common-form {
	margin-bottom: 15px;
}
.common-form .input-group {
	width: 410px;
	margin-bottom: 10px;
}
.common-form .input-group label {
	margin-bottom: 0px;
	line-height: 32px;
}
.common-form .input-group .input-group-btn {
	display: inherit;
}

.common-clear-date {
	position: absolute;
    right: -70px;
    top: 10px;
}

.common-tip {
	margin-top: 2px;
	text-align: left;
    line-height: 16px;
	color: #737373;
}

.common-value {
	padding-top: 7px;
}
.common-values input {
	margin-bottom: 5px;
}

.common-tree {
	
}
.common-tree ul>li>span {
	width: 100%;
	padding: 6px 8px;
}
.common-tree-tools {
	position: absolute;
	top: 15px;
	right: 15px;
    display: inline;
}
.common-tree-tools a {
	margin-right: 5px;
}

.common-save-input {
	
}

.common-save-btn {
	margin-right: 5px;
}

.common-pro {
	
}
.common-pro>a {
	max-width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
}
.common-pro>small {
	max-width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px!important;
	font-size: 12px;
}
.common-pro>small>span {
	margin-right: 10px;
}

.radio-inline {
	margin: 0px;
	margin-right: 5px;
}
.radio-inline input[type="radio"] {
	float: none;
	margin-right: 8px;
}

.need-tab {
	position: absolute;
    top: 10px;
    margin-left: 5px;
    color: red;
}

.input-btext {
	margin-top: 10px;
}
.input-btext span {
	margin-right: 12px;
}
.input-bmap {
	width: 90%;
	height: 420px;
	margin-top: 5px;
	margin-bottom: 15px;
}

