@CHARSET "UTF-8";
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.common-form {
	margin-bottom: 15px;
}
.common-form .input-group {
	width: 410px;
	margin-bottom: 10px;
}
.common-form .input-group label {
	margin-bottom: 0px;
	line-height: 32px;
}
.common-form .input-group .input-group-btn {
	display: inherit;
}

.common-clear-date {
	position: absolute;
    right: -70px;
    top: 10px;
}

.common-tip {
	color: #737373;
}

.common-value {
	padding-top: 7px;
}

.common-tree {
	
}
.common-tree ul>li>span {
	width: 100%;
	padding: 6px 8px;
}
.common-tree-tools {
	position: absolute;
	top: 15px;
	right: 15px;
    display: inline;
}
.common-tree-tools a {
	margin-right: 5px;
}

.common-save-input {
	
}

.common-save-btn {
	margin-right: 5px;
}

.need-tab {
	position: absolute;
    top: 10px;
    margin-left: 5px;
    color: red;
}
