@CHARSET "UTF-8";
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
i.sky-icon {
	background: url(../img/icon.png) no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;
    margin: 0px 3px 0 10px;
    vertical-align: -2px;
}
i.qq.sky-icon {
	background-position: -386px -29px;
}

.wechat {
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
}
.wechat img {
	width: 100px;
}
.wechat-right {
	display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left: -4px;
    padding: 18px 10px;
    padding-bottom: 0px;
    text-align: center;
}
.wechat-right i {
	font-size: 35px;
	color: #60cc34;
}
.wechat-right p {
	margin: 5px 0px;
}
