@CHARSET "UTF-8";
.fixed-pager{
	position: fixed;
	right: 20px;
	bottom: 00px;
	background: white;
	border-radius:5px;
	padding:5px;
	opacity:0.8;
	transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in 0;
	
}
.fixed-pager:hover{
	opacity:1;
}
.nofixed-pager {
	margin: 0;
}

.pager-input {
	width: 38px;
	height: 16px!important;
	margin-top: 6px;
}

