<div class="client-top">
	<div class="ct-container">
		<div class="ct-first-row">
			<div class="ct-left">
				<span>欢迎致电：{{phone|showBlankValue}}</span>
				<span>服务时间：{{serviceTime|showBlankValue}}</span>
			</div>
			<div class="ct-right">
				<div class="ct-wechat">
					<span>微信公众号</span>
					<div class="ct-wechat-img">
						<img alt="暂无图片" data-ng-src="{{wechatUrl}}">
					</div>
				</div>
			</div>
		</div>
		<div class="ct-second-row">
			<div class="ct-left">
				<div class="ct-sysname">{{systemName}}</div>
				<div class="ct-subname">{{systemSubname}}</div>
			</div>
			<div class="ct-right">
				<div class="ct-navbar">
					<ul>
						<li data-ng-repeat="nav in clientNavs" data-ng-click="triggerPage(nav.url)"
							data-ng-class="{'active':currentNav.id==nav.id}">{{nav.name}}</li>
					</ul>
				</div>
				<div class="ct-toggle">
					<a href="javascript:void(0);" data-ng-click="toggleNavbar()"><i class="fa fa-bars"></i></a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 手机版导航列表start -->
	<div class="ct-toggle-navbar" data-ng-class="{'click':isShowNav}">
		<ul>
			<li data-ng-repeat="nav in clientNavs" data-ng-click="triggerPage(nav.url)"
				data-ng-class="{'active':currentNav.id==nav.id}">{{nav.name}}</li>
		</ul>
	</div>
	<!-- 手机版导航列表end -->
	
	<div class="ct-left-fixed">
		<div class="ct-fixed-item ct-fixed-phone">
			<i class="fa fa-wechat"></i>
			<p>联系客服</p>
			<div class="ct-phone">
				<div class="ct-phone-container">
					<div class="ct-phone-first">
						<div class="ct-phone-box">
							<i class="fa fa-user"></i>
						</div>
						<div class="ct-phone-box">
							<p>在线客服</p>
							<p>用心为您</p>
						</div>
					</div>
					<div class="ct-phone-second">
						<div class="ct-phone-row" >
							<a href="{{qqContactUrl}}" target="_blank">
								<i class="sky-icon qq"></i>
								客服一
							</a>
						</div>
						<div class="ct-phone-row">
							<label>客户服务热线</label>
						</div>
						<div class="ct-phone-row">
							<span>{{phone|showBlankValue}}</span>
						</div>
					</div>
					<div class="ct-phone-third">
						<img alt="暂无图片" data-ng-src="{{wechatUrl}}">
					</div>
				</div>
			</div>
		</div>
		<div class="ct-fixed-item" data-ng-click="scrollTo('.client-top')">
			<i class="fa fa-arrow-up"></i>
			<p>返回顶部</p>
		</div>
	</div>
	
	<!-- 手机版底部导航start -->
	<div class="ct-bottom-fixed">
		<div class="ct-fixed-item" data-ng-click="triggerPage(clientNavs.a_index.url)">
			<i class="fa fa-home"></i>
			<p>首页</p>
		</div>
		<div class="ct-fixed-item" data-ng-click="triggerPage(clientNavs.d_product.url)">
			<i class="fa fa-globe"></i>
			<p>产品</p>
		</div>
		<div class="ct-fixed-item" data-ng-click="hrefTo('tel:'+phone)">
			<i class="fa fa-phone"></i>
			<p>电话</p>
		</div>
		<div class="ct-fixed-item" data-ng-click="triggerPage(clientNavs.e_contact.url)">
			<i class="fa fa-user"></i>
			<p>联系</p>
		</div>
	</div>
	<!-- 手机版底部导航end -->
	
</div>

