@CHARSET "UTF-8";
.sh-pc {
	display: block;
	margin-top: 35px;
	height: 102px;
	width: 100%;
}
.sh-pc-left {
    height: 100%;
}
.sh-pc-left header {
	margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
}
.sh-head-box {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	height: 60px;
    padding-top: 5px;
	padding-left: 10px;
    padding-right: 15px;
    border-right: 1px solid #ddd;
}
.sh-head-box:last-of-type {
	border-right: none;
}
.sh-head-box .name-box {
	font-size: 20px;
    line-height: 22px;
}
.sh-head-box .name-box .shop-name {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
}
.sh-head-box label {
	line-height: 16px;
	font-size: 12px;
    margin: 5px;
    margin-left: 0px;
    max-width: 90px;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.sh-head-box label.recommend {
	width: 40px;
    font-size: 10px;
    -webkit-transform: scale(.83);
    background-color: #f4c985;
    border: 1px solid #e7ba77;
    border-radius: 2px;
    color: #856651;
    text-align: center;
}
.sh-collect {
	line-height: 14px;
}
.sh-collect a {
	margin: 5px;
	color: #6C6C6C;
	font-size: 13px;
}
.sh-collect a i {
	color: #ff8b00;
}
.sh-collect a:hover,.sh-head-box a.active {
	color: #ff8b00;
}
.sh-popularity {
	line-height: 14px;
	margin-top: 8px;
}
.sh-popularity span {
	margin: 5px;
    font-size: 12px;
    color: #ff0000;
}
.sh-pc-left img {
	height: 52px;
}
.sh-pc-middle {
	height: 100%;
}
.sh-pc-search {
	margin: 0 auto;
    margin-top: 25px;
    max-width: 500px;
}
.sh-pc-search input {
	border: 1px solid #ff0000;
	outline: none!important;
}
.sh-pc-search button {
	color: #fff!important;
	background-color: #ff0000;
	border: 1px solid #ff0000;
	outline: none!important;
}
.sh-pc-search button:hover {
	background-color: #f95353;
	border: 1px solid #f95353;
}
.sh-pc-announce {
    margin: 0 auto;
    margin-top: 6px;
    padding: 8px 14px;
    max-width: 500px;
    background-color: #efefef;
}

.sh-phone {
	display: none;
	position: fixed;
    top: 0px;
    z-index: 50;
	background-color: #efefef;
	height: 186px;
    overflow: hidden;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.sh-phone-scroll {
	height: 44px;
}
.sh-phone-bg {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(5px); /* Chrome, Opera */
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	opacity: 0.9;
}
.sh-phone-search {
	padding: 5px;
	padding-left: 10px;
}
.sh-phone-return {
	position: absolute;
	line-height: 32px;
	color: #fff;
	cursor: pointer;
}
.sh-phone-search form {
	margin-left: 20px;
}
.sh-phone-search input {
	background-color: #fff;
	outline: none!important;
}
.sh-phone-search button {
	color: #fff!important;
    border: none!important;
    background-color: transparent;
    outline: none!important;
}
.sh-phone-head {
	position: relative;
}
.sh-phone-head>img {
	margin: 10px;
    margin-left: 12px;
    margin-top: 12px;
    height: 88px;
    width: 88px;
    background-color: rgba(255,255,255,0.45);
    box-shadow: 0px 0px 2px 0px #efefef;
}
.sh-phone-head .shop-name {
	position: absolute;
    top: 12px;
    left: 112px;
    right: 10px;
}
.sh-phone-head .shop-name h4 {
	font-size: 20px;
    text-shadow: 0px 0px 1px #666;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.sh-phone-head .shop-name span {
	margin-right: 12px;
    font-size: 12px;
    color: #ff9235;
}
.sh-phone-head .shop-name label {
	color: #ddd;
	font-size: 12px;
    margin: 5px;
    margin-left: 0px;
    max-width: 90px;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.sh-phone-head .shop-name label.recommend {
	width: 40px;
    line-height: 16px;
    font-size: 10px;
    -webkit-transform: scale(.83);
    background-color: #f4c985;
    border: 1px solid #e7ba77;
    border-radius: 2px;
    color: #856651;
    text-align: center;
}
a.sh-phone-collect {
	color: #ddd;
	font-size: 12px;
    margin-right: 12px;
}
a.sh-phone-collect i {
	color: #ff8b00;
}
a.sh-phone-collect:hover,a.sh-phone-collect.active {
	color: #ff8b00;
}

.sh-phone-announce {
	height: 35px;
	padding: 8px 12px;
    background-color: #fff;
}

@media screen and (max-width: 760px) {
	.sh-pc {
		display: none;
	}
	
	.sh-phone {
		display: block;
	}
}

