@CHARSET "UTF-8";
.client-top {
	
}
.ct-top-fixed {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 35px;
	line-height: 35px;
    border-bottom: 1px solid #ebebeb;
    background: #f8f8f8;
	box-shadow: 0 0 3px 0px rgba(0,0,0,.2);
	z-index: 99;
}
.ct-top-left {
	float: left;
	margin-left: 30px;
}
.ct-top-right {
	float: right;
	margin-right: 30px;
}
.ct-top-fixed span {
	position: relative;
	margin-left: 7px;
	margin-right: 7px;
}
.ct-top-fixed span.link {
	color: #777;
	cursor: pointer;
}
.ct-top-fixed span.link:hover {
	color: #ff0000;
	text-decoration: underline;
}
.ct-top-item {
	position: relative;
	display: inline-block;
    vertical-align: top;
}
.ct-wechat-img {
	display: none;
	position: absolute;
	top: 35px;
	left: -10px;
}
.ct-wechat-img img {
	width: 100px;
}
.ct-wechat:hover .ct-wechat-img {
	display: block;
	animation: fall-animation .5s;
	-moz-animation: fall-animation .5s;	/* Firefox */
	-webkit-animation: fall-animation .5s;	/* Safari 和 Chrome */
	-o-animation: fall-animation .5s;	/* Opera */
}
@keyframes fall-animation {
	0% {
		top: 0px;
	}
	50% {
		top: 50px;
	}
	75% {
		top: 25px;
	}
	100% {
		top: 35px;
	}
}
/* Firefox */
@-moz-keyframes fall-animation {
	0% {
		top: 0px;
	}
	50% {
		top: 50px;
	}
	75% {
		top: 25px;
	}
	100% {
		top: 35px;
	}
}
/* Safari 和 Chrome */
@-webkit-keyframes fall-animation {
	0% {
		top: 0px;
	}
	50% {
		top: 50px;
	}
	75% {
		top: 25px;
	}
	100% {
		top: 35px;
	}
}
/* Opera */
@-o-keyframes fall-animation {
	0% {
		top: 0px;
	}
	50% {
		top: 50px;
	}
	75% {
		top: 25px;
	}
	100% {
		top: 35px;
	}
}

.ct-bottom-fixed {
	display: none;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #efefef;
	box-shadow: 0 0 4px 0px rgba(0,0,0,.6);
	z-index: 99;
}
.ct-bottom-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 24.2%;
	color: #2c2c2c;
	text-align: center;
	cursor: pointer;
	border: none;
}
.ct-bottom-item i {
	position: relative;
	margin-top: 8px;
	font-size: 24px;
}
.ct-bottom-cart>i {
	width: 30px;
}
.ct-bottom-item p {
	
}
.ct-bottom-item:hover,.ct-bottom-item.active {
	color: #ff0000;
}
.ct-bottom-item-two {
	position: absolute;
    text-align: left;
    min-width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0px;
    z-index: 99;
}
.ct-bottom-item-two li {
	padding: 0px 10px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}
.ct-bottom-item-two i {
	font-size: 14px;
}

.ct-panel {
	position: fixed;
	top: 0px;
	bottom: 60px;
	left: 0px;
	right: 0px;
	background-color: rgba(255,255,255,0.95);
	overflow: auto;
	z-index: 50;
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.ct-type>ul {
	margin: 0px;
}
.ct-type>ul>li {
	text-align: left;
	margin-bottom: 10px;
}
.ct-type>ul>li:first-of-type {
	line-height: 40px;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px 15px;
	font-size: 18px;
	color: #fff!important;
    background: #ff0000!important;
}
.ct-type>ul>li:first-of-type>span {
	float: right;
	cursor: pointer;
}
.ct-type>ul>li:first-of-type>span:hover {
	opacity: 0.85;
}
.ct-type-header {
	text-align: left;
    line-height: 32px;
    padding-left: 5px;
    margin: 0px 10px;
    border-bottom: 1px solid #ddd;
    cursor: auto;
}
.ct-type-header>h3 {
	display: inline-block;
    margin: 0px;
    padding: 0px 15px;
    font-size: 16px;
    line-height: inherit;
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
}
.ct-type-two {
	line-height: 25px;
    padding: 6px 30px;
    font-size: 14px;
}
.ct-type-two a {
	display: inline-block;
	margin: 5px;
	margin-right: 15px;
	color: #666;
}
.ct-type-two a:hover,.ct-type-two a.active {
	color: #ff0000;
}



.ct-right-fixed {
	position: fixed;
	top: 50%;
	right: 0px;
	margin-top: -70px;
	z-index: 99;
}
.ct-right-fixed .ct-fixed-item {
	width: 60px;
    height: 60px;
    padding-top: 12px;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,0.75);
    text-align: center;
    font-size: 12px;
    border: 1px solid #e2e2e2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}
.ct-fixed-item>i {
	font-size: 20px;
}
.ct-fixed-item>p {
	
}
.ct-fixed-item .ct-service {
	color: #00c424;
}
.ct-fixed-item .ct-evaluate {
	color: #ff5400;
}
.ct-fixed-item .ct-feedback {
	color: #888;
}
.ct-fixed-item:hover,.ct-fixed-item:active {
	background-color: rgba(255,255,255,1);
}

.ct-phone {
	display: none;
	position: absolute;
    top: -120px;
    right: 60px;
	cursor: default;
}
.ct-phone-container {
	width: 160px;
    margin-right: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px #eee;
}
.ct-phone-item {
	text-align: left;
    padding: 6px 0 6px 12px;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff;
}
.ct-phone-row {
	margin-bottom: 5px;
	border-top: 1px solid #eee;
}
.ct-phone-item h4 {
	font-size: 14px;
	margin: 8px 0px;
}
.ct-phone-item p {
    margin: 5px 0px;
    font-size: 12px;
}
.ct-phone-item label {
	width: 36px;
	margin: 0px;
    margin-right: 5px;
    font-size: 12px;
    cursor: default;
}
.ct-phone-item span {
	
}
.ct-phone-item span.dowm-up {
	float: right;
	margin-right: 10px;
	color: #ff0000;
}
.ct-phone-item a {
	
}
.ct-phone-item img {
	width: 135px;
}
.ct-phone-row-head {
	cursor: pointer;
}

.ct-phone-show {
	display: block;
	animation: toright-animation .4s;
	-moz-animation: toright-animation .4s;
	-webkit-animation: toright-animation .4s;
	-o-animation: toright-animation .4s;	
}
@keyframes toright-animation {
	0% {
		right: 260px;
	}
	100% {
		right: 60px;
	}
}
/* Firefox */
@-moz-keyframes toright-animation {
	0% {
		right: 260px;
	}
	100% {
		right: 60px;
	}
}
/* Safari 和 Chrome */
@-webkit-keyframes toright-animation {
	0% {
		right: 260px;
	}
	100% {
		right: 60px;
	}
}
/* Opera */
@-o-keyframes toright-animation {
	0% {
		right: 260px;
	}
	100% {
		right: 60px;
	}
}

.login-model-dialog {
	width: 350px;
}
.login-model-content {
	min-height: 420px;
}
.login-panel {
}
.register-panel {
	
}
.user-panel {
	
}
.login-row {
	margin-top: 16px;
    text-align: center;
    line-height: 36px;
}
.login-row .input-group {
	margin: 0 auto;
	width: 95%;
}
.login-row .input-group>input {
	height: 36px;
}
.login-row small {
	line-height: 20px;
}
.login-row small>a {
	margin-left: 15px;
	color: #888;
}
.login-row small>a:hover {
	text-decoration: underline;
}
.login-short {
	margin-top: 10px;
	padding-top: 10px;
	line-height: 24px;
	border-top: 1px solid #eee;
}
.login-short small {
	color: #888;
}
.login-short small>a {
	margin-left: 5px;
	margin-right: 10px;
}
.login-top {
	margin: 0 auto;
    width: 95%;
    height: 20px;
    line-height: 20px;
}
.login-top span {
	color: #ff0000;
}
.login-top a {
	font-size: 14px;
    color: #333;
}
.login-label {
	display: table-cell;
    vertical-align: middle;
    width: 40px;
    background-color: #dddddd;
}
.login-btn {
	width: 95%;
    height: 40px;
    font-size: 16px;
    color: #fff!important;
    background-color: #ff0000!important;
    outline: none;
}
.user-label {
	display: table-cell;
    vertical-align: middle;
    width: 24%;
    padding-right: 12px;
    text-align: left;
}
.user-value {
	display: table-cell;
    vertical-align: middle;
	width: 75%;
	text-align: left;
}

.collect-title {
	text-align: center;
	padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.collect-title a {
	padding: 6px 15px;
    margin: 6px;
    color: #666;
    background-color: #efefef;
    border-radius: 2px;
}
.collect-title a:hover,.collect-title a.active {
	color: #fff;
    background-color: #ff0000;
}
.collect-panel {
	
}
.collect-panel>ul {
	margin: 0px;
	margin-bottom: 25px;
}
.collect-panel>ul>li {
	position: relative;
	width: 100%;
	margin: 0px;
   	margin-bottom: 5px;
	background: #fff;
    border: 1px solid #efefef;
    cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.collect-panel>ul>li:hover {
	border: 1px solid #ff0000;
}
.collect-img {
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	width: 80px;
    height: 80px;
    border-bottom: none;
    border-radius: 6px;
    background-color: #fbfbfb;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.collect-con {
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 82px;
    right: 0px;
    padding: 5px 10px;
    text-align: left;
}
.collect-con>h3 {
	position: absolute;
    bottom: 10px;
    width: 94%;
    margin: 0px;
    font-weight: bolder;
    font-size: 18px;
    color: #ff0000;
}
.collect-con>h3 a {
	float: right;
    position: relative;
    margin: 0px;
    margin-right: 10px;
    font-family: "微软雅黑";
    color: #aaa;
    font-size: 12px;
    font-weight: normal;
}
.collect-con>h3 a:hover {
	text-decoration: underline;
}
.collect-con>a {
	font-size: 14px;
	color: #333;
}
.collect-con>a:hover {
	color: #ff0000;
	text-decoration: underline!important;
}
.collect-con>p {
    margin: 5px 0px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.eval-content {
	width: 95%;
	margin: 0 auto;
}
.eval-row {
	position: relative;
	width: 100%;
	margin-bottom: 12px;
}
.eval-label {
	position: relative;
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	width: 68px;
	margin: 0px;
	line-height: 32px;
}
.eval-value {
	position: relative;
	vertical-align: top;
	display: inline-block; /* 现代浏览器 +IE6、7 inline 元素 */  
	*display: inline; /* IE6、7 block 元素 */  
	*zoom: 1;
	width: 75%;
	line-height: 32px;
}
.eval-value label {
	margin: 0px!important;
	margin-right: 10px!important;
    line-height: 22px;
}
.eval-value .need-tab {
	position: relative;
	top: 4px;
    margin-left: 2px;
}

@media screen and (max-width: 760px) {
	.ct-top-fixed {
		display: none;
	}
	
	.ct-bottom-fixed {
		display: block;
	}
	
	body {
		padding-bottom: 60px;
	}
	
	.login-model-dialog {
		width: auto;
	}
	
	.eval-phone-value {
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	.ct-bottom-item-two {
	    min-width: 100px;
	}
}

