<!-- widget grid -->
<section id="widget-grid">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				<!-- widget content -->
				<div class="widget-body">
					<form class="form-horizontal">
						<fieldset>
							<div class="form-group">
								<label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">所属版块：</label>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<select id="sectionId" class="form-control" data-ng-disabled="true" ui-select2 data-ng-model="$parent.save.sectionId">
										<option data-ng-repeat="item in $parent.sectionList" value="{{item.id}}">{{item.name}}</option>
									</select>
								<span class="need-tab">*</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">{{$parent.isChildren ? '所属主贴':'主帖标题'}}：</label>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<input id="topicName" class="form-control" data-ng-model="$parent.save.topicName"  data-ng-disabled="$parent.isChildren" type="text" placeholder="{{$parent.isChildren ? '所属主贴':'主帖标题'}}" >
									<span class="need-tab">*</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">{{$parent.isChildren ? '回帖内容':'正文'}}<span class="need-tab">*</span>：</label>
								<div class="col-md-10">
									<textarea id="topicContent"></textarea>
								</div>
							</div>
						</fieldset>
						<div class="form-actions">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<button class="btn btn-default common-save-btn" type="button" data-ng-click="$parent.togglePanel(null)">
										返回
									</button>
									<button class="btn btn-primary common-save-btn" type="button" 
										data-ng-show="$parent.saveType=='edit' || $parent.saveType=='childrenEdit'" data-ng-disabled="isLoadingSave" data-ng-click="editTopic($parent.save)">
										<i class="fa fa-save"></i>保存
									</button>
									<button class="btn btn-primary common-save-btn" type="button" 
										data-ng-show="$parent.saveType=='save' || $parent.saveType=='childrenSave'" data-ng-disabled="isLoadingSave" data-ng-click="saveTopic($parent.save)">
										<i class="fa fa-save"></i>保存
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- end widget -->
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- end row -->
</section>
<!-- end widget grid -->
