@CHARSET "UTF-8";
.breadcrumb>li {
	text-shadow: none;
}

.index-container {
	padding: 10px 14px;
    position: relative;
    left: 0;
}

.server-tools {
	text-align: right;
    padding-bottom: 5px;
    padding-top: 20px;
}