@CHARSET "UTF-8";
.breadcrumb>li {
	text-shadow: none;
}

.index-container {
	padding: 10px 14px;
    position: relative;
    left: 0;
}

.common-form {
	margin-bottom: 15px;
}
.common-form .input-group {
	width: 410px;
	margin-bottom: 10px;
}
.common-form .input-group label {
	margin-bottom: 0px;
	line-height: 32px;
}
.common-form .input-group .input-group-btn {
	display: inherit;
}
.common-form .input-group select {
	
}
