<div class="client-header">
	<!-- PC端start -->
	<div class="ch-pc row">
		<div class="ch-pc-left col-sm-4 col-md-3">
			<header data-ng-click="toIndexPage()"> 
				<img data-ng-src="{{systemLogo}}" alt="">
				{{systemName}}
			</header>
		</div>
		<div class="ch-pc-middle col-sm-5 col-md-6">
			<form class="ch-pc-search" data-ng-submit="toSearchPage()">
				<div class="input-group">
					<div class="ch-key-type" data-ng-mouseover="mouseKeyType(true)" data-ng-mouseleave="mouseKeyType(false)">
						<a href="javascript:void(0)">{{keyType | getKeyType}}&nbsp;<i class="fa fa-caret-down"></i></a>
						<ul>
							<li><a data-ng-show="keyType!='shop'" data-ng-click="keyType='shop'" href="javascript:void(0)">店铺</a></li>
							<li><a data-ng-show="keyType!='product'" data-ng-click="keyType='product'" href="javascript:void(0)">商品</a></li>
						</ul>
					</div>
					<input class="form-control" type="search" placeholder="搜索 {{keyType | getKeyType}}" data-ng-model="keywords">
					<div class="input-group-btn">
						<button class="btn" type="submit" title="搜索">
							搜&nbsp;&nbsp;索
						</button>
					</div>
				</div>
			</form>
			
			<div class="ch-pc-announce">
				<slide-announce ans-id="systemAnsId" ans-win-id="systemAnsWinId" index-ans="indexAns"></slide-announce>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<!-- PC端end -->
	
	<!-- 手机端start -->
	<div class="ch-phone">
		<form class="ch-phone-search" data-ng-submit="toSearchPage()">
			<div class="input-group">
				<div class="ch-key-type" data-ng-mouseover="mouseKeyType(true)" data-ng-mouseleave="mouseKeyType(false)">
					<a href="javascript:void(0)">{{keyType | getKeyType}}&nbsp;<i class="fa fa-caret-down"></i></a>
					<ul>
						<li><a data-ng-show="keyType!='shop'" data-ng-click="keyType='shop'" href="javascript:void(0)">店铺</a></li>
						<li><a data-ng-show="keyType!='product'" data-ng-click="keyType='product'" href="javascript:void(0)">商品</a></li>
					</ul>
				</div>
				<input class="form-control" type="search" placeholder="搜索 {{keyType | getKeyType}}" data-ng-model="keywords">
				<div class="input-group-btn">
					<button class="btn" type="submit" title="搜索">搜索</button>
				</div>
			</div>
		</form>
	</div>
	<!-- 手机端end -->
</div>

